## Aim: compare the results from the exome data and the imputed data. Specifically number of cases

### 1. Compare the initial exome file with the expanded white file

In [ ]:
#Load libraries
library(plyr)
library(tidyverse)
library(pander)
library(ggpubr)
library(rapportools)
library(ggplot2)
#Get working directory
getwd()

In [6]:
#Set working directory Yale
setwd('~/project/HI_UKBB/')
## Load the expanded white file
df.final.imp = read.csv('010521_UKBB_HI_genotypeqc_expandedwhite_396974indiv_excr.csv')

In [7]:
nrow(df.final.imp)

[1] 396974

In [9]:
head(df.final.imp)

  IID     FID     ignore1 ignore2 ignore3 ignore4 f.31.0.0 f.34.0.0 f.53.0.0
1 1000019 1000019 0       0       2       -9      Female   1960     2008-01-24
2 1000022 1000022 0       0       1       -9      Male     1954     2008-01-22
3 1000035 1000035 0       0       1       -9      Male     1944     2007-11-08
4 1000046 1000046 0       0       2       -9      Female   1946     2008-12-01
5 1000054 1000054 0       0       2       -9      Female   1942     2007-11-23
6 1000063 1000063 0       0       1       -9      Male     1967     2010-06-26
  f.53.1.0 ⋯ f.131229.0.0 f.131230.0.0 f.131231.0.0 f.131232.0.0 f.131233.0.0
1 NA       ⋯ NA           NA           NA           NA           NA
2 NA       ⋯ NA           NA           NA           NA           NA
3 NA       ⋯ NA           NA           NA           NA           NA
4 NA       ⋯ NA           NA           NA           NA           NA
5 NA       ⋯ NA           NA           NA           NA           NA
6 NA       ⋯ NA           NA           NA           NA           NA
  f.131250.0.0 f.131251.0.0 f.131252.0.0 f.131253.0.0 exclude
1 NA           NA           NA           NA           FALSE
2 NA           NA           NA           NA           FALSE
3 NA           NA           NA           NA           FALSE
4 NA           NA           NA           NA           FALSE
5 NA           NA           NA           NA           FALSE
6 NA           NA           NA           NA           FALSE

In [8]:
## Load the exome data fam file
exome_original <- read.table("/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb28374_exomedata/exome_data_OCT2020/ukb23155_s200631.fam", header= FALSE, stringsAsFactors = FALSE)
names(exome_original) <-c("FID","IID","ignore1", "ignore2", "ignore3", "ignore4")
nrow(exome_original)

[1] 200643

In [10]:
head(exome_original)

  FID     IID     ignore1 ignore2 ignore3 ignore4
1 1434748 1434748 0       0       2       -9
2 5523981 5523981 0       0       1       -9
3 5023838 5023838 0       0       2       -9
4 4023729 4023729 0       0       1       -9
5 4442146 4442146 0       0       2       -9
6 5654789 5654789 0       0       2       -9

## 2. Individuals from the exome data that are in the expanded white database

In [11]:
#Only 161,791 samples are shared between the expanded white (filtered by exclusion criteria) and the exome data (originally downloaded from UKBB)
#Therefore 38,852 samples are left out
exome_IID<-exome_original[,1]
exome_in_expanded  <- df.final.imp %>%
    filter(IID%in%exome_IID)
nrow(exome_in_expanded)

[1] 161791