# Create the phenotype files for the 50K and the 150K individuals

This division obeys the order of the releases and therefore the different exome capture kits that were used to WES every group of individuals

In [1]:
library(tidyverse)
library(data.table)

/home/dmc2245/miniconda3/lib/python3.8/site-packages/sos_notebook/kernel.py:1334: DeprecationWarning: Kernel._parent_header is deprecated in ipykernel 6. Use .get_parent()
  msg['msg_id'] = self._parent_header['header']['msg_id']
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [2]:
ind50 <- read.table("~/UKBiobank_Yale_transfer/ukb28374_exomedata/ukb32285_exomespb_chr1_22.fam")
colnames(ind50) <- c("FID", "IID", "fatherID", "motherID", "sex", "phenotype")

In [3]:
head(ind50)

  FID     IID     fatherID motherID sex phenotype
1 5023838 5023838 0        0        2   -9
2 1129683 1129683 0        0        1   -9
3 4744741 4744741 0        0        1   -9
4 1258289 1258289 0        0        2   -9
5 1333104 1333104 0        0        2   -9
6 2204914 2204914 0        0        2   -9

## f.3393

In [4]:
f3393_all <- read.table("~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_aid_f3393_expandedwhite_6305cases_98082ctrl", sep='\t', header=TRUE)

In [5]:
head(f3393_all)

  FID     IID     sex f3393 age PC1           PC2
1 1001384 1001384 1   1     61   0.0041652227 -0.003125265
2 1002548 1002548 0   1     62  -0.0002583921 -0.004564628
3 1002888 1002888 0   1     68   0.0071502705  0.003755773
4 1002944 1002944 0   1     65   0.0050950104  0.007735514
5 1003258 1003258 0   1     74   0.0115617006  0.009534029
6 1004843 1004843 0   1     64   0.0105012307  0.028492584

In [6]:
#library(data.table)
f3393_50k <- setDT(f3393_all)[IID %chin% ind50$IID]
nrow(f3393_50k)

[1] 24496

In [8]:
f3393_50k_IID <-  f3393_50k  %>%
    select("FID", "IID")

In [12]:
write.table(f3393_50k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_aid_f3393_expandedwhite_24496ind_50Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

In [13]:
f3393_150k <- setDT(f3393_all)[!IID %chin% ind50$IID]
nrow(f3393_150k)

[1] 79891

In [15]:
f3393_150k_IID <- f3393_150k %>%
    select("FID", "IID")
write.table(f3393_150k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_aid_f3393_expandedwhite_79891ind_150Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

## Number of cases/controls in each set for f.3393

In [ ]:
#There are 1755 cases in the 50K group and 22741 controls
f3393_50k[, .N, by=.(f3393)]
#There are 4550 cases in the 50K group and 75341 controls
f3393_150k[, .N, by=.(f3393)]

## f.2247

In [16]:
f2247_all <- read.table("~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_difficulty_f2247_expandedwhite_46237cases_98082ctrl", sep='\t', header=TRUE)

In [17]:
head(f2247_all)

  FID     IID     sex f2247 age PC1          PC2
1 1000198 1000198 1   1     41  -0.009705783 -0.015919600
2 1000396 1000396 0   1     48  -0.015745175 -0.027307706
3 1000494 1000494 0   1     61  -0.007001832  0.003714742
4 1001076 1001076 0   1     69  -0.006303143 -0.017444598
5 1001123 1001123 1   1     62  -0.007163096  0.009993393
6 1001196 1001196 0   1     59  -0.016574827 -0.035829467

In [18]:
f2247_50k <- setDT(f2247_all)[IID %chin% ind50$IID]
nrow(f2247_50k)

[1] 35147

In [20]:
f2247_50k_IID <- f2247_50k %>%
    select("FID", "IID")
write.table(f2247_50k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_difficulty_f2247_expandedwhite_35147ind_50Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

In [19]:
f2247_150k <- setDT(f2247_all)[!IID %chin% ind50$IID]
nrow(f2247_150k)

[1] 109172

In [26]:
f2247_150k_IID <- f2247_150k %>%
    select("FID", "IID")
write.table(f2247_150k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_difficulty_f2247_expandedwhite_109172ind_150Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

## Number of cases/controls in each set for f.2247

In [ ]:
#There are 12406 cases in the 50K group and 22741 controls
f2247_50k[, .N, by=.(f2247)]
#There are 33831 cases in the 50K group and 75341 controls
f2247_150k[, .N, by=.(f2247)]

# f.2257

In [22]:
f2257_all <- read.table("~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_noise_f2257_expandedwhite_66656cases_98082ctrl", sep='\t', header=TRUE)

In [23]:
head(f2257_all)

  FID     IID     sex f2257 age PC1          PC2
1 1000035 1000035 0   1     63  -0.016987240  0.027923565
2 1000198 1000198 1   1     41  -0.010169985  0.017843611
3 1000304 1000304 1   1     56  -0.012853323  0.044162524
4 1000396 1000396 0   1     48  -0.015833954  0.030103292
5 1000494 1000494 0   1     61  -0.007080360 -0.003728917
6 1000551 1000551 0   1     68  -0.005453867  0.019543734

In [24]:
f2257_50k <- setDT(f2257_all)[IID %chin% ind50$IID]
nrow(f2257_50k)

[1] 39344

In [27]:
f2257_50k_IID <- f2257_50k %>%
    select("FID", "IID")
write.table(f2257_50k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_noise_f2257_expandedwhite_39344ind_50Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

In [25]:
f2257_150k <- setDT(f2257_all)[!IID %chin% ind50$IID]
nrow(f2257_150k)

[1] 125394

In [28]:
f2257_150k_IID <- f2257_150k %>%
    select("FID", "IID")
write.table(f2257_150k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_noise_f2257_expandedwhite_125394ind_150Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

## Number of cases/controls in each set for f.2257

In [ ]:
#There are 16603 cases in the 50K group and 22741 controls
f2257_50k[, .N, by=.(f2257)]
#There are 50053 cases in the 50K group and 75341 controls
f2257_150k[, .N, by=.(f2257)]

# Combined f.2247 & f.2257

In [29]:
combined_all <- read.table("~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Combined_f2247_f2257_expandedwhite_39049cases_98082ctrl", sep='\t', header=TRUE)

In [30]:
head(combined_all)

  FID     IID     sex f2247_f2257 age PC1          PC2
1 1000198 1000198 1   1           41  -0.009875106 -0.01747982
2 1000396 1000396 0   1           48  -0.015730170 -0.02904854
3 1000494 1000494 0   1           61  -0.006790684  0.00361181
4 1001076 1001076 0   1           69  -0.006384535 -0.01788469
5 1001123 1001123 1   1           62  -0.007160043  0.01125769
6 1001196 1001196 0   1           59  -0.016707681 -0.03818496

In [31]:
combined_50k <- setDT(combined_all)[IID %chin% ind50$IID]
nrow(combined_50k)

[1] 33399

In [33]:
combined_50k_IID <- combined_50k %>%
    select("FID", "IID")
write.table(combined_50k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Combined_f2247_f2257_expandedwhite_33399ind_50Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

In [32]:
combined_150k <- setDT(combined_all)[!IID %chin% ind50$IID]
nrow(combined_150k)

[1] 103732

In [34]:
combined_150k_IID <- combined_150k %>%
    select("FID", "IID")
write.table(combined_150k_IID, "~/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Combined_f2247_f2257_expandedwhite_103732ind_150Kexomes.keep_id", sep="\t", row.names=FALSE, col.names=FALSE )

In [ ]:
#There are 10658 cases in the 50K group and 22741 controls
combined_50k[, .N, by=.(f2247_f2257)]
#There are 28391 cases in the 50K group and 75341 controls
combined_150k[, .N, by=.(f2247_f2257)]

## Analyze number of individuals with both exome data and genotype array data Qc'ed by Megan

In [ ]:
exome_fam <- read.table('~/UKBiobank_Yale_transfer/ukb28374_exomedata/exome_data_OCT2020/ukb23155_s200631.fam')
colnames(exome_fam) <- c("FID", "IID", "fatherID", "motherID", "sex", "phenotype")

In [ ]:
head(exome_fam)

In [ ]:
genotype_fam <- read.table('~/UKBiobank_Yale_transfer/pleiotropy_geneticfiles/UKB_expandedwhite_qcgenotypefiles/UKB_expandedwhiteonly_phenotypeindepqc_410905indiv_528206snps_102720.fam')
colnames(genotype_fam) <- c("FID", "IID", "fatherID", "motherID", "sex", "phenotype")

In [ ]:
head(genotype_fam)

In [ ]:
exomed_wtih_genoarray <- setDT(exome_fam)[IID %chin% genotype_fam$IID]

In [ ]:
nrow(exomed_wtih_genoarray)

In [ ]:
white_exome_fam <- read.table('~/UKBiobank_Yale_transfer/pleiotropy_R01/ukb43978_OCT2020/dc2325_phenotypes/030821_ukb42495_exomed_white_189010ind')
colnames(white_exome_fam) <- c("FID", "IID")

In [ ]:
exomed_white_genoarray <- setDT(white_exome_fam)[IID %chin% genotype_fam$IID]

In [ ]:
nrow(exomed_white_genoarray)