## Determine how many individuals in the total sample in which they have at least 1 phenotype (cases)

### Mega-analysis

In [1]:
f3393_220K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_aid_f3393_expandedwhite_6436cases_96601ctrl_PC1_2.tsv', header=T)

In [4]:
f2247_220K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_difficulty_f2247_expandedwhite_45502cases_96601ctrl_PC1_2.tsv', header=T)

In [5]:
f2257_220K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_noise_f2257_expandedwhite_65660cases_96601ctrl_PC1_2.tsv', header=T)

In [6]:
mix_200K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Combined_f2247_f2257_expandedwhite_38410cases_96601ctrl_PC1_2.tsv', header=T)

In [2]:
head(f3393_220K)

  FID     IID     sex f3393 age PC1           PC2
1 1000078 1000078 1   0     60   0.0070245643  0.009614509
2 1000081 1000081 0   0     67  -0.1198316925 -0.012082002
3 1000224 1000224 1   0     58   0.0022356173 -0.012769062
4 1000236 1000236 0   0     70  -0.0029660149  0.016806466
5 1000255 1000255 1   0     61   0.0042133323  0.002938649
6 1000291 1000291 0   0     62   0.0003901785  0.001768452

In [7]:
df1 <- merge(f3393_220K , f2247_220K, by = c("FID", "IID"), all = TRUE)

In [8]:
head(df1)

  FID     IID     sex.x f3393 age.x PC1.x        PC2.x        sex.y f2247 age.y
1 1000078 1000078  1     0    60     0.007024564  0.009614509 1     0     60
2 1000081 1000081  0     0    67    -0.119831692 -0.012082002 0     0     67
3 1000198 1000198 NA    NA    NA              NA           NA 1     1     41
4 1000224 1000224  1     0    58     0.002235617 -0.012769062 1     0     58
5 1000236 1000236  0     0    70    -0.002966015  0.016806466 0     0     70
6 1000255 1000255  1     0    61     0.004213332  0.002938649 1     0     61
  PC1.y        PC2.y
1  0.006798619 -0.010207360
2 -0.119846087  0.012268567
3  0.009587437  0.021359387
4  0.002120266  0.012205531
5 -0.002484574 -0.016160010
6  0.004330577 -0.003459381

In [9]:
df2 <- merge(df1 , f2257_220K, by = c("FID", "IID"), all = TRUE)

In [10]:
df3 <- merge(df2, mix_200K , by = c("FID", "IID"), all = TRUE )

Warning message in merge.data.frame(df2, mix_200K, by = c("FID", "IID"), all = TRUE):
“column names ‘sex.x’, ‘age.x’, ‘PC1.x’, ‘PC2.x’, ‘sex.y’, ‘age.y’, ‘PC1.y’, ‘PC2.y’ are duplicated in the result”

In [11]:
head(df3)

  FID     IID     sex.x f3393 age.x PC1.x        PC2.x        sex.y f2247 age.y
1 1000035 1000035 NA    NA    NA              NA           NA NA    NA    NA
2 1000078 1000078  1     0    60     0.007024564  0.009614509  1     0    60
3 1000081 1000081  0     0    67    -0.119831692 -0.012082002  0     0    67
4 1000198 1000198 NA    NA    NA              NA           NA  1     1    41
5 1000224 1000224  1     0    58     0.002235617 -0.012769062  1     0    58
6 1000236 1000236  0     0    70    -0.002966015  0.016806466  0     0    70
  ... sex.x f2257 age.x PC1.x        PC2.x       sex.y f2247_f2257 age.y
1 ... 0     1     63    -0.019547873  0.03228784 NA    NA          NA
2 ... 1     0     60    -0.006863951 -0.01006661  1     0          60
3 ... 0     0     67     0.120157139  0.01217858  0     0          67
4 ... 1     1     41    -0.009742730  0.02152371  1     1          41
5 ... 1     0     58    -0.002435071  0.01195639  1     0          58
6 ... 0     0     70     0.002201064 -0.01590475  0     0          70
  PC1.y        PC2.y
1           NA           NA
2  0.006810423  0.009983596
3 -0.119885407 -0.012545292
4  0.009789819 -0.021528039
5  0.002125700 -0.012037752
6 -0.002601171  0.016013752

In [12]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [13]:
full <- df3 %>% select("FID", "IID", "f3393", "f2247", "f2257", "f2247_f2257")

In [14]:
head(full)

  FID     IID     f3393 f2247 f2257 f2247_f2257
1 1000035 1000035 NA    NA    1     NA
2 1000078 1000078  0     0    0      0
3 1000081 1000081  0     0    0      0
4 1000198 1000198 NA     1    1      1
5 1000224 1000224  0     0    0      0
6 1000236 1000236  0     0    0      0

In [23]:
full %>% filter(f3393==1 | f2247==1 | f2257==1 | f2247_f2257==1 )

      FID     IID     f3393 f2247 f2257 f2247_f2257
1     1000035 1000035 NA    NA     1    NA
2     1000198 1000198 NA     1     1     1
3     1000304 1000304 NA    NA     1    NA
4     1000396 1000396 NA     1     1     1
5     1000494 1000494 NA     1     1     1
6     1000551 1000551 NA    NA     1    NA
7     1000817 1000817 NA    NA     1    NA
8     1000988 1000988 NA    NA     1    NA
9     1001076 1001076 NA     1     1     1
10    1001080 1001080 NA    NA     1    NA
11    1001123 1001123 NA     1     1     1
12    1001140 1001140 NA    NA     1    NA
13    1001196 1001196 NA     1     1     1
14    1001316 1001316 NA     1    NA    NA
15    1001373 1001373 NA     1     1     1
16    1001384 1001384  1     1     1     1
17    1001471 1001471 NA    NA     1    NA
18    1001577 1001577 NA     1     1     1
19    1001636 1001636 NA     1     1     1
20    1001672 1001672 NA    NA     1    NA
21    1001775 1001775 NA     1     1     1
22    1001789 1001789 NA    NA     1    NA
23    1001811 1001811 NA    NA     1    NA
24    1001897 1001897 NA     1     1     1
25    1002023 1002023 NA    NA     1    NA
26    1002040 1002040 NA    NA     1    NA
27    1002230 1002230 NA     1     1     1
28    1002251 1002251 NA     1     1     1
29    1002268 1002268 NA     1     1     1
30    1002548 1002548  1     1     1     1
...   ...     ...     ...   ...   ...   ...
72822 6023638 6023638 NA    NA     1    NA
72823 6023660 6023660 NA     1     1     1
72824 6023674 6023674 NA     1    NA    NA
72825 6023713 6023713 NA     1     1     1
72826 6023745 6023745 NA    NA     1    NA
72827 6023752 6023752 NA     1    NA    NA
72828 6023767 6023767 NA     1     1     1
72829 6023844 6023844 NA     1     1     1
72830 6023858 6023858 NA    NA     1    NA
72831 6023914 6023914 NA     1    NA    NA
72832 6023947 6023947 NA    NA     1    NA
72833 6023988 6023988 NA     1     1     1
72834 6024049 6024049 NA    NA     1    NA
72835 6024073 6024073 NA     1    NA    NA
72836 6024095 6024095 NA     1     1     1
72837 6024100 6024100 NA     1     1     1
72838 6024126 6024126 NA    NA     1    NA
72839 6024144 6024144 NA    NA     1    NA
72840 6024158 6024158 NA    NA     1    NA
72841 6024277 6024277 NA     1     1     1
72842 6024294 6024294 NA    NA     1    NA
72843 6024424 6024424 NA    NA     1    NA
72844 6024469 6024469 NA    NA     1    NA
72845 6024535 6024535 NA    NA     1    NA
72846 6024546 6024546 NA     1     1     1
72847 6024578 6024578 NA    NA     1    NA
72848 6024829 6024829 NA    NA     1    NA
72849 6024841 6024841 NA     1     1     1
72850 6024870 6024870 NA    NA     1    NA
72851 6024997 6024997 NA     1     1     1

In [ ]:
full %>% filter(f3393==1 & f2247==1 & f2257==1 & f2247_f2257==1 )

### Discovery

In [25]:
f3393_150K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_aid_f3393_expandedwhite_78848ind_150K.tsv', header=T)

In [26]:
f2247_150K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_difficulty_f2247_expandedwhite_107507ind_150K.tsv', header=T)

In [27]:
f2257_150K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_noise_f2257_expandedwhite_123538ind_150K.tsv', header=T)

In [28]:
mix_150K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Combined_f2247_f2257_expandedwhite_102133ind_150K.tsv', header=T)

In [30]:
dis1 <- merge(f3393_150K , f2247_150K, by = c("FID", "IID"), all = TRUE)

In [32]:
dis2 <- merge(dis1 , f2257_150K, by = c("FID", "IID"), all = TRUE)

In [33]:
dis3 <- merge(dis2, mix_150K , by = c("FID", "IID"), all = TRUE )

Warning message in merge.data.frame(dis2, mix_150K, by = c("FID", "IID"), all = TRUE):
“column names ‘sex.x’, ‘age.x’, ‘PC1.x’, ‘PC2.x’, ‘sex.y’, ‘age.y’, ‘PC1.y’, ‘PC2.y’ are duplicated in the result”

In [34]:
disfull <- dis3 %>% select("FID", "IID", "f3393", "f2247", "f2257", "f2247_f2257")

In [35]:
head(disfull)

  FID     IID     f3393 f2247 f2257 f2247_f2257
1 1000035 1000035 NA    NA    1     NA
2 1000081 1000081  0     0    0      0
3 1000198 1000198 NA     1    1      1
4 1000224 1000224  0     0    0      0
5 1000255 1000255  0     0    0      0
6 1000291 1000291  0     0    0      0

In [36]:
disfull %>% filter(f3393==1 | f2247==1 | f2257==1 | f2247_f2257==1 )

      FID     IID     f3393 f2247 f2257 f2247_f2257
1     1000035 1000035 NA    NA    1     NA
2     1000198 1000198 NA     1    1      1
3     1000304 1000304 NA    NA    1     NA
4     1000396 1000396 NA     1    1      1
5     1000494 1000494 NA     1    1      1
6     1000551 1000551 NA    NA    1     NA
7     1000817 1000817 NA    NA    1     NA
8     1000988 1000988 NA    NA    1     NA
9     1001076 1001076 NA     1    1      1
10    1001080 1001080 NA    NA    1     NA
11    1001123 1001123 NA     1    1      1
12    1001196 1001196 NA     1    1      1
13    1001384 1001384  1     1    1      1
14    1001471 1001471 NA    NA    1     NA
15    1001577 1001577 NA     1    1      1
16    1001672 1001672 NA    NA    1     NA
17    1001775 1001775 NA     1    1      1
18    1001789 1001789 NA    NA    1     NA
19    1002023 1002023 NA    NA    1     NA
20    1002040 1002040 NA    NA    1     NA
21    1002230 1002230 NA     1    1      1
22    1002251 1002251 NA     1    1      1
23    1002615 1002615 NA     1    1      1
24    1002786 1002786 NA     1    1      1
25    1002888 1002888  1     1    1      1
26    1002944 1002944  1     1    1      1
27    1003011 1003011 NA    NA    1     NA
28    1003042 1003042 NA    NA    1     NA
29    1003200 1003200 NA     1    1      1
30    1003258 1003258  1     1    1      1
...   ...     ...     ...   ...   ...   ...
54760 6023186 6023186  1     1    NA    NA
54761 6023269 6023269 NA     1     1     1
54762 6023272 6023272 NA    NA     1    NA
54763 6023494 6023494 NA    NA     1    NA
54764 6023568 6023568  1     1     1     1
54765 6023638 6023638 NA    NA     1    NA
54766 6023660 6023660 NA     1     1     1
54767 6023674 6023674 NA     1    NA    NA
54768 6023713 6023713 NA     1     1     1
54769 6023752 6023752 NA     1    NA    NA
54770 6023767 6023767 NA     1     1     1
54771 6023844 6023844 NA     1     1     1
54772 6023858 6023858 NA    NA     1    NA
54773 6023914 6023914 NA     1    NA    NA
54774 6023947 6023947 NA    NA     1    NA
54775 6023988 6023988 NA     1     1     1
54776 6024049 6024049 NA    NA     1    NA
54777 6024073 6024073 NA     1    NA    NA
54778 6024095 6024095 NA     1     1     1
54779 6024100 6024100 NA     1     1     1
54780 6024126 6024126 NA    NA     1    NA
54781 6024144 6024144 NA    NA     1    NA
54782 6024158 6024158 NA    NA     1    NA
54783 6024277 6024277 NA     1     1     1
54784 6024469 6024469 NA    NA     1    NA
54785 6024546 6024546 NA     1     1     1
54786 6024578 6024578 NA    NA     1    NA
54787 6024829 6024829 NA    NA     1    NA
54788 6024841 6024841 NA     1     1     1
54789 6024997 6024997 NA     1     1     1

### Replication

In [37]:
f3393_50K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_aid_f3393_expandedwhite_24189ind_50K.tsv', header=T)

In [38]:
f2247_50K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_difficulty_f2247_expandedwhite_34596ind_50K.tsv', header=T)

In [39]:
f2257_50K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_noise_f2257_expandedwhite_38723ind_50K.tsv', header=T)

In [40]:
mix_50K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Combined_f2247_f2257_expandedwhite_32878ind_50K.tsv', header=T)

In [41]:
rep1 <- merge(f3393_50K , f2247_50K, by = c("FID", "IID"), all = TRUE)

In [42]:
rep2 <- merge(rep1 , f2257_50K, by = c("FID", "IID"), all = TRUE)

In [43]:
rep3 <- merge(rep2, mix_50K , by = c("FID", "IID"), all = TRUE )

Warning message in merge.data.frame(rep2, mix_50K, by = c("FID", "IID"), all = TRUE):
“column names ‘sex.x’, ‘age.x’, ‘PC1.x’, ‘PC2.x’, ‘sex.y’, ‘age.y’, ‘PC1.y’, ‘PC2.y’ are duplicated in the result”

In [44]:
repfull <- rep3 %>% select("FID", "IID", "f3393", "f2247", "f2257", "f2247_f2257")

In [46]:
head(repfull)

  FID     IID     f3393 f2247 f2257 f2247_f2257
1 1000078 1000078 0     0     0     0
2 1000236 1000236 0     0     0     0
3 1000331 1000331 0     0     0     0
4 1000530 1000530 0     0     0     0
5 1000683 1000683 0     0     0     0
6 1000992 1000992 0     0     0     0

In [47]:
repfull %>% filter(f3393==1 | f2247==1 | f2257==1 | f2247_f2257==1 )

      FID     IID     f3393 f2247 f2257 f2247_f2257
1     1001140 1001140 NA    NA     1    NA
2     1001316 1001316 NA     1    NA    NA
3     1001373 1001373 NA     1     1     1
4     1001636 1001636 NA     1     1     1
5     1001811 1001811 NA    NA     1    NA
6     1001897 1001897 NA     1     1     1
7     1002268 1002268 NA     1     1     1
8     1002548 1002548  1     1     1     1
9     1002900 1002900 NA     1     1     1
10    1003275 1003275 NA    NA     1    NA
11    1003772 1003772 NA     1    NA    NA
12    1004146 1004146 NA    NA     1    NA
13    1004178 1004178 NA    NA     1    NA
14    1004279 1004279 NA    NA     1    NA
15    1004461 1004461 NA     1     1     1
16    1005088 1005088 NA    NA     1    NA
17    1005237 1005237 NA    NA     1    NA
18    1005526 1005526 NA     1     1     1
19    1005827 1005827 NA     1    NA    NA
20    1005849 1005849 NA     1     1     1
21    1006174 1006174 NA     1     1     1
22    1006407 1006407 NA     1     1     1
23    1006446 1006446 NA     1     1     1
24    1006478 1006478 NA     1     1     1
25    1006490 1006490 NA     1     1     1
26    1006513 1006513  1     1     1     1
27    1006987 1006987 NA     1     1     1
28    1007520 1007520 NA     1     1     1
29    1008294 1008294 NA     1     1     1
30    1008424 1008424 NA     1     1     1
...   ...     ...     ...   ...   ...   ...
18033 6015628 6015628 NA     1     1     1
18034 6015676 6015676 NA     1     1     1
18035 6016274 6016274 NA     1    NA    NA
18036 6017714 6017714 NA     1     1     1
18037 6018477 6018477 NA    NA     1    NA
18038 6018502 6018502 NA     1     1     1
18039 6018780 6018780 NA    NA     1    NA
18040 6019160 6019160 NA    NA     1    NA
18041 6019197 6019197 NA     1     1     1
18042 6019247 6019247 NA     1     1     1
18043 6019698 6019698 NA     1     1     1
18044 6019716 6019716 NA     1     1     1
18045 6019862 6019862 NA     1    NA    NA
18046 6020032 6020032 NA     1     1     1
18047 6020127 6020127 NA    NA     1    NA
18048 6020151 6020151 NA     1     1     1
18049 6020267 6020267 NA     1     1     1
18050 6020441 6020441 NA     1     1     1
18051 6020760 6020760  1     1     1     1
18052 6020836 6020836  1     1     1     1
18053 6021973 6021973 NA     1     1     1
18054 6022109 6022109 NA    NA     1    NA
18055 6022513 6022513 NA     1     1     1
18056 6022605 6022605 NA     1     1     1
18057 6023450 6023450 NA     1     1     1
18058 6023745 6023745 NA    NA     1    NA
18059 6024294 6024294 NA    NA     1    NA
18060 6024424 6024424 NA    NA     1    NA
18061 6024535 6024535 NA    NA     1    NA
18062 6024870 6024870 NA    NA     1    NA

### Imputed data 300K

In [48]:
f3393_im300K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_9165cases_141007ctrl_300k_PC1_PC2', header=T)

In [49]:
f2247_im300K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_difficulty_f2247_expandedwhite_64953cases_141007ctrl_300k_PC1_PC2', header=T)

In [51]:
f2257_im300K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_noise_f2257_expandedwhite_95794cases_141007ctrl_300k_PC1_PC2', header=T)

In [52]:
mix_im300K <- read.table('~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Combined_f2247_f2257_expandedwhite_54853cases_141007ctrl_300k_PC1_PC2', header=T)

In [53]:
im1 <- merge(f3393_im300K , f2247_im300K, by = c("FID", "IID"), all = TRUE)

In [54]:
im2 <- merge(im1 , f2257_im300K, by = c("FID", "IID"), all = TRUE)

In [55]:
im3 <- merge(im2, mix_im300K , by = c("FID", "IID"), all = TRUE )

Warning message in merge.data.frame(im2, mix_im300K, by = c("FID", "IID"), all = TRUE):
“column names ‘sex.x’, ‘age.x’, ‘PC1.x’, ‘PC2.x’, ‘sex.y’, ‘age.y’, ‘PC1.y’, ‘PC2.y’ are duplicated in the result”

In [56]:
imfull <- im3 %>% select("FID", "IID", "f3393", "f2247", "f2257", "f2247_f2257")

In [57]:
head(imfull)

  FID     IID     f3393 f2247 f2257 f2247_f2257
1 1000022 1000022 NA     1     1     1
2 1000046 1000046 NA    NA     1    NA
3 1000054 1000054 NA    NA     1    NA
4 1000063 1000063  0     0     0     0
5 1000090 1000090 NA     1    NA    NA
6 1000105 1000105 NA    NA     1    NA

In [58]:
imfull %>% filter(f3393==1 | f2247==1 | f2257==1 | f2247_f2257==1 )

       FID     IID     f3393 f2247 f2257 f2247_f2257
1      1000022 1000022 NA     1     1     1
2      1000046 1000046 NA    NA     1    NA
3      1000054 1000054 NA    NA     1    NA
4      1000090 1000090 NA     1    NA    NA
5      1000105 1000105 NA    NA     1    NA
6      1000112 1000112  1     1     1     1
7      1000164 1000164 NA    NA     1    NA
8      1000170 1000170 NA     1     1     1
9      1000203 1000203 NA     1     1     1
10     1000318 1000318 NA    NA     1    NA
11     1000450 1000450 NA    NA     1    NA
12     1000482 1000482 NA     1     1     1
13     1000549 1000549 NA     1     1     1
14     1000728 1000728 NA     1     1     1
15     1000745 1000745 NA     1    NA    NA
16     1000767 1000767 NA     1     1     1
17     1000780 1000780 NA    NA     1    NA
18     1000799 1000799 NA    NA     1    NA
19     1000800 1000800 NA    NA     1    NA
20     1000933 1000933 NA     1     1     1
21     1001045 1001045 NA     1     1     1
22     1001052 1001052 NA     1    NA    NA
23     1001067 1001067  1     1     1     1
24     1001099 1001099 NA     1     1     1
25     1001157 1001157 NA     1     1     1
26     1001222 1001222 NA    NA     1    NA
27     1001330 1001330 NA    NA     1    NA
28     1001459 1001459  1     1     1     1
29     1001539 1001539 NA    NA     1    NA
30     1001594 1001594 NA     1     1     1
...    ...     ...     ...   ...   ...   ...
106034 6023466 6023466 NA    NA     1    NA
106035 6023516 6023516 NA     1     1     1
106036 6023611 6023611 NA     1    NA    NA
106037 6023697 6023697 NA     1    NA    NA
106038 6023701 6023701 NA    NA     1    NA
106039 6023799 6023799 NA     1     1     1
106040 6023800 6023800 NA     1     1     1
106041 6023992 6023992 NA     1    NA    NA
106042 6024208 6024208 NA     1    NA    NA
106043 6024243 6024243 NA     1     1     1
106044 6024282 6024282 NA     1     1     1
106045 6024352 6024352 NA     1     1     1
106046 6024399 6024399 NA     1     1     1
106047 6024410 6024410 NA     1     1     1
106048 6024487 6024487 NA     1     1     1
106049 6024659 6024659 NA    NA     1    NA
106050 6024665 6024665 NA     1     1     1
106051 6024671 6024671 NA     1     1     1
106052 6024805 6024805 NA     1     1     1
106053 6024886 6024886 NA    NA     1    NA
106054 6024909 6024909 NA     1     1     1
106055 6024925 6024925 NA    NA     1    NA
106056 6024983 6024983 NA     1     1     1
106057 6025128 6025128 NA     1     1     1
106058 6025134 6025134  1     1     1     1
106059 6025199 6025199 NA    NA     1    NA
106060 6025322 6025322 NA    NA     1    NA
106061 6025354 6025354 NA     1     1     1
106062 6025378 6025378 NA    NA     1    NA
106063 6025390 6025390 NA    NA     1    NA