# Regenie interaction analysis

## Prepare the SNP list

In [26]:
import pandas as pd
file="/home/gl2776/UKBiobank/results/LD_clumping/102721_f2247_500k_array/100521_UKBB_Hearing_difficulty_f2247_expandedwhite_110453cases_237318ctrl_500k_PC1_PC2_f2247.regenie.snp_stats.clumped"
df=pd.read_csv(file,delim_whitespace=True,header=0)
df.head()

,CHR,F,SNP,BP,P,TOTAL,NSIG,S05,S01,S001,S0001,SP2
0,22,1,rs36062310,50988105,9.290000e-27,15,1,2,3,3,6,"rs34422484(1),rs56269507(1),rs131813(1),rs1317..."
1,5,1,rs7714670,73072354,3.020000e-22,32,3,1,5,6,17,"rs819549(1),rs1421654(1),rs343115(1),rs3095860..."
2,22,1,rs9610841,38121152,5.380000e-17,33,14,6,3,3,7,"rs11089846(1),rs4419331(1),rs9622658(1),rs9619..."
3,3,1,rs2129825,181991271,2.270000e-14,5,0,0,1,2,2,"rs79747049(1),rs7610416(1),rs72622589(1),rs115..."
4,6,1,rs9493627,133789728,2.730000e-14,13,2,5,2,2,2,"rs7760570(1),rs465147(1),rs212764(1),rs3777866..."

In [2]:
df.iloc[:,:11]

,CHR,F,SNP,BP,P,TOTAL,NSIG,S05,S01,S001,S0001
0,22,1,rs36062310,50988105,9.290000e-27,15,1,2,3,3,6
1,5,1,rs7714670,73072354,3.020000e-22,32,3,1,5,6,17
2,22,1,rs9610841,38121152,5.380000e-17,33,14,6,3,3,7
3,3,1,rs2129825,181991271,2.270000e-14,5,0,0,1,2,2
4,6,1,rs9493627,133789728,2.730000e-14,13,2,5,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
5247,8,1,rs75034498,129064664,9.990000e-03,2,1,1,0,0,0
5248,13,1,rs117970308,27498552,9.990000e-03,3,3,0,0,0,0
5249,12,1,rs3829972,6929018,1.000000e-02,7,2,5,0,0,0
5250,1,1,rs7516769,31258827,1.000000e-02,6,5,1,0,0,0
5251,5,1,rs161539,32135599,1.000000e-02,9,8,1,0,0,0

In [ ]:
df.iloc[:,:11].to_csv("/home/gl2776/working/interaction/f2247.regenie.snp_stats.clumped",sep="\t",index=False)

In [ ]:
file="/home/gl2776/UKBiobank/results/LD_clumping/102721_f3393_500k_array/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie.snp_stats.clumped"
df=pd.read_csv(file,delim_whitespace=True,header=0)
df.iloc[:,:11].to_csv("/home/gl2776/working/interaction/f3393.regenie.snp_stats.clumped",sep="\t",index=False)

In [ ]:
file="/home/gl2776/UKBiobank/results/LD_clumping/102721_f2247_f2257_500k_array/100521_UKBB_Combined_f2247_f2257_expandedwhite_93258cases_237318ctrl_500k_PC1_PC2_f2247_f2257.regenie.snp_stats.clumped"
df=pd.read_csv(file,delim_whitespace=True,header=0)
df.iloc[:,:11].to_csv("/home/gl2776/working/interaction/f2247_f2257.regenie.snp_stats.clumped",sep="\t",index=False)

In [4]:
file="/home/gl2776/UKBiobank/results/LD_clumping/102721_f2257_500k_array/100521_UKBB_Hearing_noise_f2257_expandedwhite_161443cases_237318ctrl_500k_PC1_PC2_f2257.regenie.snp_stats.clumped"
df=pd.read_csv(file,delim_whitespace=True,header=0)
df.iloc[:,:11].to_csv("/home/gl2776/working/interaction/f2257.regenie.snp_stats.clumped",sep="\t",index=False)

## Prepare the xb

In [9]:
snplist=pd.read_csv("/home/gl2776/working/interaction/f3393.regenie.snp_stats.clumped",sep="\t", header=0)
snplist["SNP"].to_csv("/home/gl2776/working/interaction/f3393.clumped.snplist",header=False,index=False)
snplist=pd.read_csv("/home/gl2776/working/interaction/f2247.regenie.snp_stats.clumped",sep="\t", header=0)
snplist["SNP"].to_csv("/home/gl2776/working/interaction/f2247.clumped.snplist",header=False,index=False)
snplist=pd.read_csv("/home/gl2776/working/interaction/f2247_f2257.regenie.snp_stats.clumped",sep="\t", header=0)
snplist["SNP"].to_csv("/home/gl2776/working/interaction/f2247_f2257.clumped.snplist",header=False,index=False)

In [6]:
snplist=pd.read_csv("/home/gl2776/working/interaction/f2257.regenie.snp_stats.clumped",sep="\t", header=0)
snplist["SNP"].to_csv("/home/gl2776/working/interaction/f2257.clumped.snplist",header=False,index=False)

In [1]:
import pandas as pd
file="~/UKBiobank/results/REGENIE_results/results_array_data/2021-10-27_f3393_array/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie.snp_stats.gz"
df=pd.read_csv(file,compression='gzip',sep="\t", header=0)
df

        CHR       POS REF ALT          SNP      BETA        SE         P
0         1    752721   G   A    rs3131972  0.024766  0.017404  0.154731
1         1    801536   T   G   rs79373928 -0.030838  0.050661  0.542713
2         1    838555   C   A    rs4970383  0.016273  0.014259  0.253783
3         1    840753   T   C    rs4970382  0.003910  0.012532  0.755047
4         1    846864   G   C     rs950122 -0.001703  0.015444  0.912200
...     ...       ...  ..  ..          ...       ...       ...       ...
429448   22  51173542   C   T    rs4824147  0.035743  0.025518  0.161312
429449   22  51174939   C   T   rs73174435  0.015016  0.027257  0.581703
429450   22  51177257   C   T   rs73174437 -0.022357  0.032496  0.491462
429451   22  51185848   A   G    rs3865764  0.020729  0.028047  0.459864
429452   22  51193629   A   G  rs142680588  0.027263  0.023280  0.241548

[429453 rows x 8 columns]

In [2]:
snplist=pd.read_csv("/home/gl2776/working/interaction/f3393.regenie.snp_stats.clumped",sep="\t", header=0)
snplist

,CHR,F,SNP,BP,P,TOTAL,NSIG,S05,S01,S001,S0001
0,5,1,rs2339607,73071641,1.040000e-17,31,2,3,2,5,19
1,14,1,rs1566129,52514912,1.470000e-15,19,5,1,3,0,10
2,6,1,rs9493627,133789728,4.540000e-14,13,3,3,3,2,2
3,2,1,rs2941580,54862003,2.880000e-12,26,11,3,3,1,8
4,15,1,rs4293349,89253550,1.350000e-11,11,3,2,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...
4015,4,1,rs78412119,31724135,9.980000e-03,2,1,1,0,0,0
4016,11,1,rs11824108,116501944,9.980000e-03,13,13,0,0,0,0
4017,7,1,rs3763384,4876057,9.980000e-03,13,11,2,0,0,0
4018,16,1,rs4785508,51203534,9.990000e-03,12,12,0,0,0,0
4019,2,1,rs2602187,159261950,1.000000e-02,25,22,3,0,0,0

In [3]:
x=pd.read_csv("~/working/interaction/f3393.x.raw",delim_whitespace=True, header=0)
x

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
0,1000019,1000019,0,0,2,-9,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1000022,1000022,0,0,1,-9,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1000035,1000035,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1000046,1000046,0,0,2,-9,0.0,0.0,0.0,2.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000054,1000054,0,0,2,-9,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486411,6025390,6025390,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0
486412,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486413,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486414,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
486415,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [4]:
df2=df[df["SNP"].isin(snplist["SNP"].to_list())]
df2["BETA"]

39        0.052946
149       0.069960
294      -0.060353
297       0.057852
304      -0.082233
            ...
428699   -0.164179
429138   -0.048068
429159   -0.090202
429171    0.044792
429393    0.116754
Name: BETA, Length: 4020, dtype: float64

In [5]:
x[["FID","IID"]].to_csv("~/working/interaction/f3393.x.raw.id",sep="\t",header=True,index=False)

In [6]:
test=x.iloc[:5,6:10]
test

   rs11579015_C  rs3121828_T  rs17384422_A  rs2842909_T
0           1.0          0.0           1.0          0.0
1           0.0          1.0           0.0          1.0
2           0.0          0.0           0.0          0.0
3           0.0          0.0           0.0          2.0
4           0.0          0.0           0.0          1.0

In [27]:
coef=pd.Series(df2["BETA"][:4].to_list(),index=test.columns.to_list())
coef

rs11579015_C    0.052946
rs3121828_T     0.069960
rs17384422_A   -0.060353
rs2842909_T     0.057852
dtype: float64

In [29]:
test.mul(coef,axis=1)

   rs11579015_C  rs3121828_T  rs17384422_A  rs2842909_T
0      0.052946      0.00000     -0.060353     0.000000
1      0.000000      0.06996     -0.000000     0.057852
2      0.000000      0.00000     -0.000000     0.000000
3      0.000000      0.00000     -0.000000     0.115704
4      0.000000      0.00000     -0.000000     0.057852

In [34]:
coef=pd.Series(df2["BETA"].to_list(),index=x.columns.to_list()[6:])
coef

rs11579015_C     0.052946
rs3121828_T      0.069960
rs17384422_A    -0.060353
rs2842909_T      0.057852
rs112563471_T   -0.082233
                   ...
rs75066394_C    -0.164179
rs17779492_A    -0.048068
rs73177000_C    -0.090202
rs742271_T       0.044792
rs36062310_A     0.116754
Length: 4020, dtype: float64

In [36]:
coef.to_csv("~/working/interaction/f3393.b",sep="\t",header=False,index=True)

In [35]:
x.iloc[:,6:].mul(coef,axis=1).to_csv("~/working/interaction/f3393.xb",sep="\t",header=True,index=False)

MemoryError: Unable to allocate 14.6 GiB for an array with shape (4020, 486416) and data type float64

In [ ]:
file="~/UKBiobank/results/REGENIE_results/results_array_data/2021-10-27_f2247_f2257_array/100521_UKBB_Combined_f2247_f2257_expandedwhite_93258cases_237318ctrl_500k_PC1_PC2_f2247_f2257.regenie.snp_stats.gz"
df=pd.read_csv(file,compression='gzip',sep="\t", header=0)
snplist=pd.read_csv("/home/gl2776/working/interaction/f2247_f2257.regenie.snp_stats.clumped",sep="\t", header=0)
x=pd.read_csv("~/working/interaction/f2247_f2257.x.raw",delim_whitespace=True, header=0)
df2=df[df["SNP"].isin(snplist["SNP"].to_list())]
coef=pd.Series(df2["BETA"].to_list(),index=x.columns.to_list()[6:])
coef.to_csv("~/working/interaction/f2247_f2257.b",sep="\t",header=False,index=True)
x[["FID","IID"]].to_csv("~/working/interaction/f2247_f2257.x.raw.id",sep="\t",header=True,index=False)
x.iloc[:,6:].mul(coef,axis=1).to_csv("~/working/interaction/f2247_f2257.xb",sep="\t",header=True,index=False)

## Prepare sum(xb)

In [2]:
import pandas as pd
xb=pd.read_csv("~/project/guangyou/interaction/f3393.xb",sep="\t", header=0)
xb

,1,rs10006251_C,rs10006948_G,rs1002468_G,rs10033516_G,rs10036727_C,rs10038757_C,rs1004796_T,rs10056075_A,rs10063178_A,...,rs9963583_C,rs9966_A,rs9968875_G,rs9969850_T,rs9971678_C,rs9971808_T,rs9971877_C,rs998846_G,rs9990969_A,rs9994849_A
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
xb=pd.read_csv("~/project/guangyou/interaction/f2247.xb",sep="\t", header=0)
xb

MemoryError: Unable to allocate 3.71 MiB for an array with shape (486416,) and data type float64

In [ ]:
xb.sum(axis=1).to_csv("~/project/guangyou/interaction/f2247.xb_sum",sep="\t", index=False,header=False)

## Prepare the interaction term x1x2
##### Large work load. Strart with f3393

In [11]:
from itertools import combinations
import pandas as pd

In [12]:
snplist=pd.read_csv("/home/gl2776/project/guangyou/interaction/f3393.regenie.snp_stats.clumped",sep="\t", header=0)
snplist

,CHR,F,SNP,BP,P,TOTAL,NSIG,S05,S01,S001,S0001
0,5,1,rs2339607,73071641,1.040000e-17,31,2,3,2,5,19
1,14,1,rs1566129,52514912,1.470000e-15,19,5,1,3,0,10
2,6,1,rs9493627,133789728,4.540000e-14,13,3,3,3,2,2
3,2,1,rs2941580,54862003,2.880000e-12,26,11,3,3,1,8
4,15,1,rs4293349,89253550,1.350000e-11,11,3,2,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...
4015,4,1,rs78412119,31724135,9.980000e-03,2,1,1,0,0,0
4016,11,1,rs11824108,116501944,9.980000e-03,13,13,0,0,0,0
4017,7,1,rs3763384,4876057,9.980000e-03,13,11,2,0,0,0
4018,16,1,rs4785508,51203534,9.990000e-03,12,12,0,0,0,0
4019,2,1,rs2602187,159261950,1.000000e-02,25,22,3,0,0,0

In [22]:
comb = combinations(snplist["SNP"].to_list(), 2)
list(comb)[0]

('rs2339607', 'rs1566129')

In [30]:
comb = combinations(snplist["SNP"].to_list(), 2)
comb2 = pd.DataFrame(list(comb),columns=["SNP1","SNP2"])
comb2

               SNP1       SNP2
0         rs2339607  rs1566129
1         rs2339607  rs9493627
2         rs2339607  rs2941580
3         rs2339607  rs4293349
4         rs2339607  rs9610841
...             ...        ...
8078185  rs11824108  rs4785508
8078186  rs11824108  rs2602187
8078187   rs3763384  rs4785508
8078188   rs3763384  rs2602187
8078189   rs4785508  rs2602187

[8078190 rows x 2 columns]

In [40]:
snplist=["snp"+str(i) for i in range(1,len(comb2)+1)]
snplist[8078185:]

['snp8078186', 'snp8078187', 'snp8078188', 'snp8078189', 'snp8078190']

In [ ]:
x=pd.read_csv("~/project/guangyou/interaction/f3393.x.raw",delim_whitespace=True, header=0)
x

In [44]:
outped=pd.DataFrame(columns=["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+snplist)
outped

Empty DataFrame
Columns: [FID, IID, PAT, MAT, SEX, PHENOTYPE, snp1, snp2, snp3, snp4, snp5, snp6, snp7, snp8, snp9, snp10, snp11, snp12, snp13, snp14, snp15, snp16, snp17, snp18, snp19, snp20, snp21, snp22, snp23, snp24, snp25, snp26, snp27, snp28, snp29, snp30, snp31, snp32, snp33, snp34, snp35, snp36, snp37, snp38, snp39, snp40, snp41, snp42, snp43, snp44, snp45, snp46, snp47, snp48, snp49, snp50, snp51, snp52, snp53, snp54, snp55, snp56, snp57, snp58, snp59, snp60, snp61, snp62, snp63, snp64, snp65, snp66, snp67, snp68, snp69, snp70, snp71, snp72, snp73, snp74, snp75, snp76, snp77, snp78, snp79, snp80, snp81, snp82, snp83, snp84, snp85, snp86, snp87, snp88, snp89, snp90, snp91, snp92, snp93, snp94, ...]
Index: []

[0 rows x 8078196 columns]

In [ ]:
x.loc[0,["FID","IID","PAT","MAT","SEX","PHENOTYPE"]]

In [ ]:
tmp=x.loc[0,["FID","IID","PAT","MAT","SEX","PHENOTYPE"]]+snplist

In [3]:
minb = 0
maxb = 10000
filename="/mnt/mfs/statgen/guangyou/interaction/f3393.x.raw"
df=[]
counts = 0
with open(filename, 'r') as file:
    while (counts >= minb & counts <= maxb):
        line = file.readline()
        df.append(line)
        counts += 1
df

KeyboardInterrupt:

In [ ]:
df = [x.split('\t') for x in df]
df2 = pd.DataFrame(df,columns=df[0])

### Obtain the x1x2 by 100000 columns (combinations) batch

In [19]:
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=60G
#$ -N task
#$ -o /home/gl2776/working/HSPG2/task-$JOB_ID.out
#$ -e /home/gl2776/working/HSPG2/task-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(1)+".sh", 'w')
f.write(script)
f.close()

In [4]:
from itertools import combinations
comb = combinations(list(range(7,4027)), 2)
list(comb)[:5]

[(7, 8), (7, 9), (7, 10), (7, 11), (7, 12)]

In [40]:
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=50G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(1,1,1)
comb=list(combinations(list(range(7,4027)), 2))
inter="gawk '{print "
for i in range(1,10000-1):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(1)

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(1)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [26]:
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=10G
#$ -N f3393-test
#$ -o /home/gl2776/working/interaction/interaction/f3393-test-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-test-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''
comb=list(combinations(list(range(7,4027)), 2))
inter="gawk '{print "
for i in range(1,20000):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx.test"

f=open("/home/gl2776/working/interaction/interaction/interaction-test.sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [43]:
start=1
index=1
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=50G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,start+79999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

inter=inter+"gawk '{print "
for i in range(start+80000,start+89999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

inter=inter+"gawk '{print "
for i in range(start+90000,start+99999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [46]:
start=1
index0=1
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [47]:
start=500001
index0=6
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [48]:
start=1000001
index0=11
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [49]:
start=1500001
index0=16
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [50]:
start=2000001
index0=21
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [51]:
start=2500001
index0=26
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [52]:
start=3000001
index0=31
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [53]:
start=3500001
index0=36
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [54]:
start=4000001
index0=41
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [55]:
start=4500001
index0=46
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [56]:
start=5000001
index0=51
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [60]:
start=5500001
index0=56
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [61]:
start=6000001
index0=61
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [57]:
start=6500001
index0=66
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [58]:
start=7000001
index0=71
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [59]:
start=7500001
index0=76
script='''#!/bin/sh
#$ -l h_rt=48:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index0,index0,index0)
comb=list(combinations(list(range(7,4027)), 2))
inter="\n"
for index in range(index0,index0+5):
    inter=inter+"gawk '{print "
    for i in range(start,start+9999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+10000,start+19999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+20000,start+29999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+30000,start+39999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+40000,start+49999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+50000,start+59999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+60000,start+69999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+70000,start+79999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+80000,start+89999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

    inter=inter+"gawk '{print "
    for i in range(start+90000,start+99999):
        inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
    inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
    inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"
    start=start+100000
    
f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index0)+"-"+str(index0+4)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [62]:
start=8000001
index=81
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=50G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,len(comb)-1):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [10]:
start=60001
index=6
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,start+79999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

inter=inter+"gawk '{print "
for i in range(start+80000,start+89999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

inter=inter+"gawk '{print "
for i in range(start+90000,start+99999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [11]:
start=70001
index=7
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,start+79999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

inter=inter+"gawk '{print "
for i in range(start+80000,start+89999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

inter=inter+"gawk '{print "
for i in range(start+90000,start+99999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [12]:
start=80001
index=8
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,start+79999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

inter=inter+"gawk '{print "
for i in range(start+80000,start+89999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

inter=inter+"gawk '{print "
for i in range(start+90000,start+99999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [13]:
start=90001
index=9
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=10G
#$ -N f3393-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''%(index,index,index)
comb=list(combinations(list(range(7,4027)), 2))

inter="gawk '{print "
for i in range(start,start+9999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(1)+"\n"

inter=inter+"gawk '{print "
for i in range(start+10000,start+19999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(2)+"\n"

inter=inter+"gawk '{print "
for i in range(start+20000,start+29999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(3)+"\n"

inter=inter+"gawk '{print "
for i in range(start+30000,start+39999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(4)+"\n"

inter=inter+"gawk '{print "
for i in range(start+40000,start+49999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(5)+"\n"

inter=inter+"gawk '{print "
for i in range(start+50000,start+59999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(6)+"\n"

inter=inter+"gawk '{print "
for i in range(start+60000,start+69999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(7)+"\n"

inter=inter+"gawk '{print "
for i in range(start+70000,start+79999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(8)+"\n"

inter=inter+"gawk '{print "
for i in range(start+80000,start+89999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(9)+"\n"

inter=inter+"gawk '{print "
for i in range(start+90000,start+99999):
    inter=inter+'$%d*$%d,'%(comb[i][0],comb[i][1])
inter=inter+'$%d*$%d'%(comb[i+1][0],comb[i+1][1])
inter=inter+"}' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw > /mnt/mfs/statgen/guangyou/interaction/f3393.xx."+str(index)+"."+str(10)+"\n"

f=open("/home/gl2776/working/interaction/interaction/interaction-"+str(index)+".sh", 'w')
f.write(script)
f.write(inter)
f.close()

In [65]:
## Combine the batches
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=20G
#$ -N f3393-combine-test
#$ -o /home/gl2776/working/interaction/interaction/f3393-combine-test-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-combine-test-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3

'''
comb="date"+"\n"
i=1
comb=comb+"paste -d' ' ~/project/guangyou/interaction/f3393.xx.%d.{1..10} > ~/project/guangyou/interaction/f3393.xx.%d"%(i,i)
comb=comb+"\n"+"date"
f=open("/home/gl2776/working/interaction/interaction/f3393-combine-test.sh", 'w')
f.write(script)
f.write(comb)
f.close()

In [11]:
index=1
script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=20G
#$ -N f3393-combine-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-combine-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-combine-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3
'''%(index,index,index)
comb="\n"
for i in range(index,index+5):
    comb=comb+"paste -d' ' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw.first6col ~/project/guangyou/interaction/f3393.xx.%d.{1..10} > ~/project/guangyou/interaction/f3393.xx.%d"%(i,i)+".ped"+"\n"
f=open("/home/gl2776/working/interaction/interaction/f3393-combine-"+str(index)+"-"+str(index+4)+".sh", 'w')
f.write(script)
f.write(comb)
f.close()

In [28]:
l=list(range(0,17))
l1=[element*5+1 for element in l]
for index in l1:
    script='''#!/bin/sh
#$ -l h_rt=24:00:00
#$ -l h_vmem=20G
#$ -N f3393-combine-%d
#$ -o /home/gl2776/working/interaction/interaction/f3393-combine-%d-$JOB_ID.out
#$ -e /home/gl2776/working/interaction/interaction/f3393-combine-%d-$JOB_ID.err  
#$ -j y
#$ -q csg.q
#$ -S /bin/bash
export PATH=$HOME/miniconda3/bin:$PATH
module load Singularity/3.5.3
'''%(index,index,index)
    comb="\n"
    for i in range(index,index+5):
        comb=comb+"paste -d' ' /mnt/mfs/statgen/guangyou/interaction/f3393.x.raw.first6col ~/project/guangyou/interaction/f3393.xx.%d.{1..10} > ~/project/guangyou/interaction/f3393.xx.%d"%(i,i)+".ped"+"\n"
    f=open("/home/gl2776/working/interaction/interaction/f3393-combine-"+str(index)+"-"+str(index+4)+".sh", 'w')
    f.write(script)
    f.write(comb)
    f.close()

In [25]:
l=list(range(0,17))
l1=[element*5+1 for element in l]
l1

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81]

### Change the header for ped

In [1]:
import fileinput
from datetime import datetime
print(datetime.now())
index=1
header="FID IID PAT MAT SEX PHENOTYPE"
for i in range((index-1)*20000+1,index*20000+1):
    header=header+" snp"+str(i)
with fileinput.input(files="/home/gl2776/project/guangyou/interaction/f3393.xx.test",inplace=True) as file:
    for line in file:
        if (file.isfirstline()):
            line=header
            print(line)
        else:
            print(line.strip())
print(datetime.now())

2021-11-05 09:16:53.546158
2021-11-05 09:21:06.034178

In [ ]:
import fileinput
from datetime import datetime
inputfile="/home/gl2776/project/guangyou/interaction/f3393.xx.9.ped"
index=int(inputfile.split(".")[-2])
header="FID IID PAT MAT SEX PHENOTYPE"
for i in range((index-1)*100000+1,index*100000+1):
    header=header+" snp"+str(i)
with fileinput.input(files=,inplace=True) as file:
    for line in file:
        if (file.isfirstline()):
            line=header
            print(line)
        else:
            print(line.strip())

In [14]:
inputfile="/home/gl2776/project/guangyou/interaction/f3393.xx.9.ped"
index=int(inputfile.split(".")[-2])

'9'

## Prepare the Map file

In [4]:
import pandas as pd
file="/home/gl2776/UKBiobank/genotype_files_processed/090221_sample_variant_qc_final_callrate90/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.bim"
bim=pd.read_csv(file,sep="\t",header=None)
bim

         0            1  2         3  4  5
0        1    rs3131972  0    752721  A  G
1        1   rs79373928  0    801536  G  T
2        1    rs4970383  0    838555  A  C
3        1    rs4970382  0    840753  C  T
4        1     rs950122  0    846864  C  G
...     ..          ... ..       ... .. ..
429448  22    rs4824147  0  51173542  T  C
429449  22   rs73174435  0  51174939  T  C
429450  22   rs73174437  0  51177257  T  C
429451  22    rs3865764  0  51185848  G  A
429452  22  rs142680588  0  51193629  G  A

[429453 rows x 6 columns]

In [6]:
bim.loc[bim.iloc[:,0]==1,3].min()

752721

In [8]:
maxlist=[]
for i in range(1,23):
    maxlist.append(bim.loc[bim.iloc[:,0]==i,3].max())
maxlist

[249218540,
 242846855,
 197840071,
 190904950,
 180695849,
 170907734,
 159124173,
 146292681,
 141048267,
 135432685,
 134942100,
 133831319,
 115103150,
 107282437,
 102388991,
 90170095,
 81051887,
 78015180,
 59094374,
 62915231,
 48099610,
 51193629]

In [14]:
import random
n=8078190
m=n//22
snplist=["snp%d"%i for i in range(1,n+1)]
cm=[0]*n
bp=[]
chrom=[]
for i in range(1,23):
    chrom.append([i]*m)
    bp.append(random.sample(range(752721,maxlist[i]),m))
chrom.append([i]*(n//22))
bp.append(random.sample(range(752721,maxlist[i]),n//22))
df=pd.DataFrame({"chrom":chrom,"snp":snplist,"cm":cm,"pos":bp})

SyntaxError: invalid syntax (<ipython-input-14-7989b8541c4e>, line 12)

In [11]:
n=8078190
n//22

367190

In [12]:
n%22

10

In [1]:
import random
import pandas as pd
# Produce the fake  
n=10000
m=n//22
snplist=["snp%d"%i for i in range(1,n+1)]
cm=[0]*n
bp=[]
chrom=[]
for i in range(22):
    chrom=chrom+[i+1]*m
    bp=bp+random.sample(range(752721,48099610),m)
chrom=chrom+[i+1]*(n%22)
bp=bp+random.sample(range(752721,48099610),n%22)
df=pd.DataFrame({"chrom":chrom,"snp":snplist,"cm":cm,"pos":bp})
df.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.xx.1.1.map",sep=" ",index=False,header=False)

In [2]:
df

      chrom       snp  cm       pos
0         1      snp1   0   6036089
1         1      snp2   0  22670862
2         1      snp3   0  10845036
3         1      snp4   0   2759687
4         1      snp5   0  11604823
...     ...       ...  ..       ...
9995     22   snp9996   0  44409543
9996     22   snp9997   0  11833480
9997     22   snp9998   0  14159482
9998     22   snp9999   0   8588596
9999     22  snp10000   0   9764494

[10000 rows x 4 columns]

## Prepare the MWE

In [4]:
import pandas as pd

df = pd.read_csv("/home/gl2776/working/interaction/mwe.dosage",header=None,sep=" ").astype(int).iloc[1:,:]
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
1,1,0,0,0,1,0,1,0,1,2,...,1,0,0,0,0,0,1,2,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
freq = df.stack().value_counts().rename_axis('value').reset_index(name='count')
freq

   value   count
0      0  950461
1      1   39219
2      2    9894
3      4     426

In [6]:
noflist=[]
for i in range(1000):
    if not (4 in df.iloc[:,i].value_counts().index.to_list()):
        noflist.append(i)
len(noflist)

749

In [7]:
noflist[:20]

[0, 1, 2, 3, 4, 5, 7, 8, 10, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25]

In [8]:
df.iloc[:,:6].stack().value_counts().rename_axis('value').reset_index(name='count')

   value  count
0      0   5740
1      1    225
2      2     35

In [9]:
f=open("/home/gl2776/working/interaction/mwe.noflist", 'w')
for listitem in noflist:
    f.write('%s\n' % str(listitem))
f.close()

In [10]:
df.iloc[:,noflist[:500]].to_csv("/home/gl2776/working/interaction/mwe.1000.500.dosage")

In [11]:
first6 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f3393.x.raw.first6col",header=0,sep=" ")
first6

            FID      IID  PAT  MAT  SEX  PHENOTYPE
0       1000019  1000019    0    0    2         -9
1       1000022  1000022    0    0    1         -9
2       1000035  1000035    0    0    1         -9
3       1000046  1000046    0    0    2         -9
4       1000054  1000054    0    0    2         -9
...         ...      ...  ...  ...  ...        ...
486411  6025390  6025390    0    0    2         -9
486412  6025409  6025409    0    0    2         -9
486413  6025411  6025411    0    0    2         -9
486414  6025425  6025425    0    0    2         -9
486415  6025438  6025438    0    0    1         -9

[486416 rows x 6 columns]

In [17]:
first6 = first6.iloc[:1000,:]
df2 = df.iloc[:,noflist[:500]]

In [18]:
df2=df2.replace({0: "G G", 1: "G A", 2: "A A"}).reset_index()
df2

,index,0,1,2,3,4,5,7,8,10,...,658,662,663,665,666,667,668,670,673,674
0,1,G A,G G,G G,G G,G A,G G,G G,G A,G G,...,G G,G G,G G,G G,A A,G G,G A,G A,G G,G G
1,2,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
2,3,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
3,4,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
4,5,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
996,997,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
997,998,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
998,999,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
999,1000,G G,G G,G G,G G,G G,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G

In [20]:
import csv
pedfile = pd.concat([first6, df2], axis=1)
pedfile=pedfile.drop("index",axis=1)
pedfile.to_csv("/home/gl2776/working/interaction/mwe.ped",header=False,index=False, sep="\t", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="")
pedfile

,FID,IID,PAT,MAT,SEX,PHENOTYPE,0,1,2,3,...,658,662,663,665,666,667,668,670,673,674
0,1000019,1000019,0,0,2,-9,G A,G G,G G,G G,...,G G,G G,G G,G G,A A,G G,G A,G A,G G,G G
1,1000022,1000022,0,0,1,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
2,1000035,1000035,0,0,1,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
3,1000046,1000046,0,0,2,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
4,1000054,1000054,0,0,2,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1010350,1010350,0,0,2,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
996,1010366,1010366,0,0,2,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
997,1010377,1010377,0,0,2,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
998,1010382,1010382,0,0,1,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G
999,1010394,1010394,0,0,1,-9,G G,G G,G G,G G,...,G G,G G,G G,G G,G G,G G,G G,G G,G G,G G

In [36]:
import random
import pandas as pd
# Produce the fake  
n=500
m=n//22
snplist=["snp%d"%i for i in noflist[:500]]
cm=[0]*n
bp=[]
chrom=[]
for i in range(22):
    chrom=chrom+[i+1]*m
    bp=bp+random.sample(range(752721,48099610),m)
chrom=chrom+[i+1]*(n%22)
bp=bp+random.sample(range(752721,48099610),n%22)
df=pd.DataFrame({"chrom":chrom,"snp":snplist,"cm":cm,"pos":bp})
df.to_csv("/home/gl2776/working/interaction/mwe.map",sep=" ",index=False,header=False)

In [93]:
# Phenotype
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe[phe["IID"].isin(pedfile["IID"].to_list())]

           FID      IID  sex  f3393  age       PC1       PC2
0      1000112  1000112    0      1   68  0.011931  0.031198
1      1001067  1001067    0      1   50  0.004472  0.002904
2      1001384  1001384    1      1   61  0.002001 -0.001850
3      1001459  1001459    0      1   64  0.010770  0.022391
4      1002548  1002548    0      1   62  0.000226 -0.014383
...        ...      ...  ...    ...  ...       ...       ...
16060  1010234  1010234    1      0   51  0.002467 -0.008164
16061  1010245  1010245    1      0   64 -0.007403 -0.011247
16062  1010276  1010276    1      0   63  0.010315  0.009736
16063  1010299  1010299    0      0   51 -0.002590 -0.003369
16064  1010343  1010343    0      0   69  0.009051  0.010250

[498 rows x 7 columns]

In [94]:
sum=pd.read_csv("~/project/guangyou/interaction/f3393.xb_sum",sep="\t",header=None)
sum

               0
0       2.442924
1       3.460557
2       1.642428
3       2.184214
4       0.423392
...          ...
486411  0.805099
486412 -0.836263
486413  1.377984
486414  0.702221
486415  4.489162

[486416 rows x 1 columns]

In [95]:
id=pd.read_csv("~/project/guangyou/interaction/f3393.x.raw.id",sep="\t",header=0)
id

            FID      IID
0       1000019  1000019
1       1000022  1000022
2       1000035  1000035
3       1000046  1000046
4       1000054  1000054
...         ...      ...
486411  6025390  6025390
486412  6025409  6025409
486413  6025411  6025411
486414  6025425  6025425
486415  6025438  6025438

[486416 rows x 2 columns]

In [96]:
sum = pd.concat([id,sum],axis=1)
sum

            FID      IID         0
0       1000019  1000019  2.442924
1       1000022  1000022  3.460557
2       1000035  1000035  1.642428
3       1000046  1000046  2.184214
4       1000054  1000054  0.423392
...         ...      ...       ...
486411  6025390  6025390  0.805099
486412  6025409  6025409 -0.836263
486413  6025411  6025411  1.377984
486414  6025425  6025425  0.702221
486415  6025438  6025438  4.489162

[486416 rows x 3 columns]

In [89]:
pd.concat([sum[sum["IID"].isin(phe["IID"].to_list())].reset_index()["IID"],phe["IID"]],axis=1)

              0        1
0       1000063  1000112
1       1000078  1001067
2       1000081  1001384
3       1000112  1001459
4       1000129  1002548
...         ...      ...
252914  6025363  6025363
252915  6025409  6025409
252916  6025411  6025411
252917  6025425  6025425
252918  6025438  6025438

[252919 rows x 2 columns]

In [97]:
sum = sum.set_index('IID')
sum.loc[phe["IID"].to_list()]

             FID         0
IID
1000112  1000112  4.726232
1001067  1001067  1.974721
1001384  1001384  4.410767
1001459  1001459  5.569416
1002548  1002548  5.231623
...          ...       ...
6025363  6025363 -0.826268
6025409  6025409 -0.836263
6025411  6025411  1.377984
6025425  6025425  0.702221
6025438  6025438  4.489162

[252919 rows x 2 columns]

In [85]:
sum[sum["IID"].isin(phe["IID"])].reset_index()["IID"].astype(int).sort_values().to_list()==phe.reset_index()["IID"].astype(int).sort_values().to_list()

True

In [67]:
sum.iloc[:1000,:]["IID"].equals(pedfile["IID"])

True

In [108]:
sum = sum.rename(columns={0: 'xb'})

In [111]:
newphe=pd.concat([phe,sum.loc[phe["IID"].to_list()].reset_index()["xb"]],axis=1)
newphe.to_csv("~/working/interaction/MWE/mwe.phe",index=False,sep="\t")
newphe

            FID      IID  sex  f3393  age       PC1       PC2        xb
0       1000112  1000112    0      1   68  0.011931  0.031198  4.726232
1       1001067  1001067    0      1   50  0.004472  0.002904  1.974721
2       1001384  1001384    1      1   61  0.002001 -0.001850  4.410767
3       1001459  1001459    0      1   64  0.010770  0.022391  5.569416
4       1002548  1002548    0      1   62  0.000226 -0.014383  5.231623
...         ...      ...  ...    ...  ...       ...       ...       ...
252914  6025363  6025363    0      0   64  0.004982  0.006218 -0.826268
252915  6025409  6025409    1      0   66  0.002693 -0.003802 -0.836263
252916  6025411  6025411    1      0   49  0.014998  0.007031  1.377984
252917  6025425  6025425    1      0   44  0.017568  0.020817  0.702221
252918  6025438  6025438    0      0   55  0.004759  0.004076  4.489162

[252919 rows x 8 columns]

## Regenie with f3393 all samples and first 10000 interactions (excluding 4)

In [1]:
import random
import pandas as pd
import csv

# Build the ped file
df = pd.read_csv("/home/gl2776/project/guangyou/interaction/f3393.xx.1.1",header=None,sep=" ").astype(int)
noflist=[]
for i in range(df.shape[1]):
    if not (4 in df.iloc[:,i].value_counts().index.to_list()):
        noflist.append(i)
first6 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f3393.x.raw.first6col",header=0,sep=" ")
df2 = df.iloc[1:,noflist].reset_index()
df2 = df2.replace({0: "G G", 1: "G A", 2: "A A"})

pedfile = pd.concat([first6, df2], axis=1)
pedfile=pedfile.drop("index",axis=1)
pedfile.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.xx.1.1.exclu4.ped",header=False,index=False, sep="\t", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="")


# Fake the map file
n=len(noflist)
m=n//22
snplist=["snp%d"%i for i in noflist]
cm=[0]*n
bp=[]
chrom=[]
for i in range(22):
    chrom=chrom+[i+1]*m
    bp=bp+random.sample(range(752721,48099610),m)
chrom=chrom+[i+1]*(n%22)
bp=bp+random.sample(range(752721,48099610),n%22)
df=pd.DataFrame({"chrom":chrom,"snp":snplist,"cm":cm,"pos":bp})
df.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.xx.1.1.exclu4.map",sep=" ",index=False,header=False)

    # Prepare the phenotype
#     file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2"
#     phe=pd.read_csv(file,sep="\t",header=0)
#     xbsum=pd.read_csv("~/project/guangyou/interaction/f3393.xb_sum",sep="\t",header=None)
#     xid=pd.read_csv("~/project/guangyou/interaction/f3393.x.raw.id",sep="\t",header=0)
#     xbsum = pd.concat([xid,xbsum],axis=1)
#     xbsum = xbsum.set_index('IID')
#     xbsum = xbsum.rename(columns={0: 'xb'})
#     newphe=pd.concat([phe,xbsum.loc[phe["IID"].to_list()].reset_index()["xb"]],axis=1)
#     newphe.to_csv("/home/gl2776/project/guangyou/interaction/phenotype/f3393.phe",index=False,sep="\t")

MemoryError: Unable to allocate 3.71 MiB for an array with shape (486417,) and data type int64

## MWE result

In [83]:
import pandas as pd
file= "~/UKBiobank/results/REGENIE_results/results_array_data/2021-10-27_f3393_array/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie.snp_stats.gz"
stat = pd.read_csv(file,sep="\t",header=0) #, compression="gzip"
stat

        CHR       POS REF ALT          SNP      BETA        SE         P
0         1    752721   G   A    rs3131972  0.024766  0.017404  0.154731
1         1    801536   T   G   rs79373928 -0.030838  0.050661  0.542713
2         1    838555   C   A    rs4970383  0.016273  0.014259  0.253783
3         1    840753   T   C    rs4970382  0.003910  0.012532  0.755047
4         1    846864   G   C     rs950122 -0.001703  0.015444  0.912200
...     ...       ...  ..  ..          ...       ...       ...       ...
429448   22  51173542   C   T    rs4824147  0.035743  0.025518  0.161312
429449   22  51174939   C   T   rs73174435  0.015016  0.027257  0.581703
429450   22  51177257   C   T   rs73174437 -0.022357  0.032496  0.491462
429451   22  51185848   A   G    rs3865764  0.020729  0.028047  0.459864
429452   22  51193629   A   G  rs142680588  0.027263  0.023280  0.241548

[429453 rows x 8 columns]

In [84]:
snplist=pd.read_csv("~/project/guangyou/interaction/f3393.clumped.snplist",header=None)[0].to_list()
stat[stat["SNP"].isin(snplist)]

        CHR       POS REF ALT          SNP      BETA        SE         P
39        1   1036959   T   C   rs11579015  0.052946  0.018971  0.005488
149       1   1986754   G   T    rs3121828  0.069960  0.025266  0.005989
294       1   2824171   G   A   rs17384422 -0.060353  0.020557  0.003146
297       1   2859724   C   T    rs2842909  0.057852  0.016003  0.000321
304       1   2898199   C   T  rs112563471 -0.082233  0.026498  0.001739
...     ...       ...  ..  ..          ...       ...       ...       ...
428699   22  48814168   T   C   rs75066394 -0.164179  0.061011  0.006013
429138   22  49925268   G   A   rs17779492 -0.048068  0.014845  0.001161
429159   22  50002290   T   C   rs73177000 -0.090202  0.032344  0.004835
429171   22  50087337   C   T     rs742271  0.044792  0.016901  0.008288
429393   22  50988105   G   A   rs36062310  0.116754  0.029739  0.000106

[4020 rows x 8 columns]

In [85]:
inter = pd.read_csv("~/working/interaction/MWE/regenie_mwe/mwe_f3393.regenie.snp_stats.gz", compression="gzip",sep="\t",header=0)
inter

     CHR       POS REF ALT     SNP      BETA        SE         P
0      1    772443   G   A   snp26 -2.098460  1.467340  0.152684
1      1   1074267   G   A   snp25 -1.603650  1.479220  0.278313
2      1   2772364   G   A   snp18 -1.124330  3.218920  0.726874
3      1   3098159   G   A    snp0 -1.182540  2.155060  0.583193
4      1  10565348   G   A    snp4 -0.079059  0.634747  0.900878
..   ...       ...  ..  ..     ...       ...       ...       ...
410   22  44864704   G   A  snp630 -0.918255  0.603342  0.128022
411   22  46117466   G   A  snp666 -0.352791  1.202420  0.769215
412   22  46750934   G   A  snp673 -1.904580  1.713170  0.266256
413   22  47297794   G   A  snp662  0.470827  1.423180  0.740774
414   22  47827896   G   A  snp665 -2.392270  1.780120  0.178988

[415 rows x 8 columns]

In [86]:
inter["combindex"]=inter["SNP"].str.split("snp", expand=True)[1].astype(int)
combindex=inter["SNP"].str.split("snp", expand=True)[1].astype(int)
inter

     CHR       POS REF ALT     SNP      BETA        SE         P  combindex
0      1    772443   G   A   snp26 -2.098460  1.467340  0.152684         26
1      1   1074267   G   A   snp25 -1.603650  1.479220  0.278313         25
2      1   2772364   G   A   snp18 -1.124330  3.218920  0.726874         18
3      1   3098159   G   A    snp0 -1.182540  2.155060  0.583193          0
4      1  10565348   G   A    snp4 -0.079059  0.634747  0.900878          4
..   ...       ...  ..  ..     ...       ...       ...       ...        ...
410   22  44864704   G   A  snp630 -0.918255  0.603342  0.128022        630
411   22  46117466   G   A  snp666 -0.352791  1.202420  0.769215        666
412   22  46750934   G   A  snp673 -1.904580  1.713170  0.266256        673
413   22  47297794   G   A  snp662  0.470827  1.423180  0.740774        662
414   22  47827896   G   A  snp665 -2.392270  1.780120  0.178988        665

[415 rows x 9 columns]

In [88]:
from itertools import combinations
stat2=stat[stat["SNP"].isin(snplist)]
comb=list(combinations(list(range(1,4021)), 2))
x1ind=[]
x2ind=[]
x1=pd.DataFrame(columns=["SNP1","BETA1","P1"])
x2=pd.DataFrame(columns=["SNP2","BETA2","P2"])
for i in range(len(combindex)):
    x1ind.append(comb[combindex[i]][0])
    x2ind.append(comb[combindex[i]][1])
    x1.loc[i] =stat2.iloc[comb[combindex[i]][0]-1,:][["SNP","BETA","P"]].to_list()
    x2.loc[i] =stat2.iloc[comb[combindex[i]][1]-1,:][["SNP","BETA","P"]].to_list()
pd.concat([x1,x2],axis=1)

           SNP1     BETA1        P1         SNP2     BETA2        P2
0    rs11579015  0.052946  0.005488   rs76933461 -0.082662  0.006708
1    rs11579015  0.052946  0.005488    rs6688255  0.046001  0.001029
2    rs11579015  0.052946  0.005488   rs12406876  0.081057  0.007890
3    rs11579015  0.052946  0.005488    rs3121828  0.069960  0.005989
4    rs11579015  0.052946  0.005488   rs12757342 -0.083170  0.002049
..          ...       ...       ...          ...       ...       ...
410  rs11579015  0.052946  0.005488   rs11902730  0.048868  0.001730
411  rs11579015  0.052946  0.005488  rs115067365  0.100876  0.004148
412  rs11579015  0.052946  0.005488    rs7635516  0.032349  0.009091
413  rs11579015  0.052946  0.005488    rs1353811 -0.036525  0.008843
414  rs11579015  0.052946  0.005488   rs17042376 -0.041131  0.006003

[415 rows x 6 columns]

In [59]:
tmp=pd.concat([x1,x2],axis=1)
tmp=pd.concat([tmp,inter[["SNP","BETA","P"]]],axis=1)

In [60]:
tmp

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP,BETA,P
0,rs11579015,0.052946,0.005488,rs76933461,-0.082662,0.006708,snp26,-2.098460,0.152684
1,rs11579015,0.052946,0.005488,rs6688255,0.046001,0.001029,snp25,-1.603650,0.278313
2,rs11579015,0.052946,0.005488,rs12406876,0.081057,0.007890,snp18,-1.124330,0.726874
3,rs11579015,0.052946,0.005488,rs3121828,0.069960,0.005989,snp0,-1.182540,0.583193
4,rs11579015,0.052946,0.005488,rs12757342,-0.083170,0.002049,snp4,-0.079059,0.900878
...,...,...,...,...,...,...,...,...,...
410,rs11579015,0.052946,0.005488,rs11902730,0.048868,0.001730,snp630,-0.918255,0.128022
411,rs11579015,0.052946,0.005488,rs115067365,0.100876,0.004148,snp666,-0.352791,0.769215
412,rs11579015,0.052946,0.005488,rs7635516,0.032349,0.009091,snp673,-1.904580,0.266256
413,rs11579015,0.052946,0.005488,rs1353811,-0.036525,0.008843,snp662,0.470827,0.740774
414,rs11579015,0.052946,0.005488,rs17042376,-0.041131,0.006003,snp665,-2.392270,0.178988

In [61]:
tmp.to_csv("~/working/interaction/MWE/regenie_mwe/mwe_f3393.interaction.stats",sep="\t",index=False)

In [63]:
tmp.sort_values("P").iloc[:10,:]

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP,BETA,P
358,rs11579015,0.052946,0.005488,rs10180602,-0.090678,0.009203,snp581,2.47983,0.002913
108,rs11579015,0.052946,0.005488,rs74871927,0.105176,0.001926,snp170,4.08174,0.003340
142,rs11579015,0.052946,0.005488,rs2794582,-0.041158,0.001201,snp249,3.52914,0.011767
167,rs11579015,0.052946,0.005488,rs72745172,-0.080571,0.003813,snp266,-2.35204,0.011903
103,rs11579015,0.052946,0.005488,rs116739250,-0.147860,0.009271,snp181,3.21893,0.015805
345,rs11579015,0.052946,0.005488,rs114010604,-0.145149,0.008232,snp559,1.96320,0.023617
350,rs11579015,0.052946,0.005488,rs115134079,-0.087806,0.003995,snp555,2.28077,0.035634
69,rs11579015,0.052946,0.005488,rs115605503,0.078429,0.005951,snp120,3.43754,0.037696
78,rs11579015,0.052946,0.005488,rs558750,0.117376,0.001055,snp133,-2.42703,0.045612
136,rs11579015,0.052946,0.005488,rs77548847,0.085089,0.002714,snp253,-2.21404,0.051502

## Regenie with f3393 all samples and first 10000 interactions (excluding 4) result

In [1]:
import pandas as pd
from itertools import combinations
file= "~/UKBiobank/results/REGENIE_results/results_array_data/2021-10-27_f3393_array/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie.snp_stats.gz"
stat = pd.read_csv(file,sep="\t",header=0) #, compression="gzip"
snplist=pd.read_csv("~/project/guangyou/interaction/f3393.clumped.snplist",header=None)[0].to_list()
inter = pd.read_csv("~/project/guangyou/interaction/110921_f3393/f3393_f3393.regenie.snp_stats.gz", compression="gzip",sep="\t",header=0)
combindex=inter["SNP"].str.split("snp", expand=True)[1].astype(int)
stat2=stat[stat["SNP"].isin(snplist)]
comb=list(combinations(list(range(1,4021)), 2))
x1ind=[]
x2ind=[]
x1=pd.DataFrame(columns=["SNP1","BETA1","P1"])
x2=pd.DataFrame(columns=["SNP2","BETA2","P2"])
for i in range(len(combindex)):
    x1ind.append(comb[combindex[i]][0])
    x2ind.append(comb[combindex[i]][1])
    x1.loc[i] =stat2.iloc[comb[combindex[i]][0]-1,:][["SNP","BETA","P"]].to_list()
    x2.loc[i] =stat2.iloc[comb[combindex[i]][1]-1,:][["SNP","BETA","P"]].to_list()
tmp=pd.concat([x1,x2],axis=1)
tmp=pd.concat([tmp,inter[["SNP","BETA","P"]]],axis=1)
tmp

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP,BETA,P
0,rs11579015,0.052946,0.005488,rs1746267,-0.038923,0.001983,snp70,-0.093455,0.386791
1,rs11579015,0.052946,0.005488,rs597362,0.040677,0.007715,snp144,-0.149447,0.243816
2,rs11579015,0.052946,0.005488,rs12986771,0.071632,0.007834,snp567,-0.224598,0.101236
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,snp16,0.259840,0.027584
4,rs11579015,0.052946,0.005488,rs13087430,0.036862,0.006891,snp936,0.027914,0.812869
...,...,...,...,...,...,...,...,...,...
873,rs17384422,-0.060353,0.003146,rs72817758,-0.084326,0.003914,snp9470,0.043943,0.635694
874,rs17384422,-0.060353,0.003146,rs9458748,-0.035427,0.008871,snp9690,0.029797,0.766071
875,rs17384422,-0.060353,0.003146,rs144488000,0.152255,0.000402,snp9883,0.061416,0.576052
876,rs17384422,-0.060353,0.003146,rs117891012,-0.095833,0.004866,snp9601,0.003352,0.982530
877,rs17384422,-0.060353,0.003146,rs80134603,0.080889,0.003773,snp9182,-0.070457,0.582687

In [2]:
tmp = tmp.rename(columns={"SNP": "SNP12", "BETA": "BETA12", "P": "P12"})
tmp

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12
0,rs11579015,0.052946,0.005488,rs1746267,-0.038923,0.001983,snp70,-0.093455,0.386791
1,rs11579015,0.052946,0.005488,rs597362,0.040677,0.007715,snp144,-0.149447,0.243816
2,rs11579015,0.052946,0.005488,rs12986771,0.071632,0.007834,snp567,-0.224598,0.101236
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,snp16,0.259840,0.027584
4,rs11579015,0.052946,0.005488,rs13087430,0.036862,0.006891,snp936,0.027914,0.812869
...,...,...,...,...,...,...,...,...,...
873,rs17384422,-0.060353,0.003146,rs72817758,-0.084326,0.003914,snp9470,0.043943,0.635694
874,rs17384422,-0.060353,0.003146,rs9458748,-0.035427,0.008871,snp9690,0.029797,0.766071
875,rs17384422,-0.060353,0.003146,rs144488000,0.152255,0.000402,snp9883,0.061416,0.576052
876,rs17384422,-0.060353,0.003146,rs117891012,-0.095833,0.004866,snp9601,0.003352,0.982530
877,rs17384422,-0.060353,0.003146,rs80134603,0.080889,0.003773,snp9182,-0.070457,0.582687

In [3]:
tmp["SNP12"]=combindex
tmp

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12
0,rs11579015,0.052946,0.005488,rs1746267,-0.038923,0.001983,70,-0.093455,0.386791
1,rs11579015,0.052946,0.005488,rs597362,0.040677,0.007715,144,-0.149447,0.243816
2,rs11579015,0.052946,0.005488,rs12986771,0.071632,0.007834,567,-0.224598,0.101236
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,16,0.259840,0.027584
4,rs11579015,0.052946,0.005488,rs13087430,0.036862,0.006891,936,0.027914,0.812869
...,...,...,...,...,...,...,...,...,...
873,rs17384422,-0.060353,0.003146,rs72817758,-0.084326,0.003914,9470,0.043943,0.635694
874,rs17384422,-0.060353,0.003146,rs9458748,-0.035427,0.008871,9690,0.029797,0.766071
875,rs17384422,-0.060353,0.003146,rs144488000,0.152255,0.000402,9883,0.061416,0.576052
876,rs17384422,-0.060353,0.003146,rs117891012,-0.095833,0.004866,9601,0.003352,0.982530
877,rs17384422,-0.060353,0.003146,rs80134603,0.080889,0.003773,9182,-0.070457,0.582687

In [4]:
tmp.to_csv("~/project/guangyou/interaction/110921_f3393/f3393.interaction.allind.first10000.stats",sep="\t",index=False)

In [5]:
tmp.sort_values("P12").iloc[:10,:]

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12
727,rs3121828,0.069960,0.005989,rs752502,0.069475,0.002345,7742,0.345003,0.002893
519,rs3121828,0.069960,0.005989,rs1870360,-0.036393,0.009780,6543,0.528195,0.003869
501,rs3121828,0.069960,0.005989,rs115969192,0.126877,0.009165,6223,0.388840,0.006613
362,rs3121828,0.069960,0.005989,rs1407620,-0.044459,0.000510,5597,-0.505864,0.006948
387,rs3121828,0.069960,0.005989,rs35802176,-0.051672,0.000792,5434,-0.623882,0.007247
833,rs17384422,-0.060353,0.003146,rs582495,-0.042748,0.000564,9261,-0.386376,0.008264
485,rs3121828,0.069960,0.005989,rs71503134,0.072855,0.007994,6273,0.350552,0.011371
808,rs17384422,-0.060353,0.003146,rs1092553,0.037311,0.003233,8968,-0.348247,0.012370
88,rs11579015,0.052946,0.005488,rs12604008,-0.039390,0.005933,3396,-0.271070,0.012859
103,rs11579015,0.052946,0.005488,rs2567132,0.098094,0.003220,2770,-0.293904,0.013521

In [6]:
coef = pd.read_csv("~/project/guangyou/interaction/110921_f3393/f3393.xx.1.1.glm.coef",sep="\t",header=0)
coef

,x,Estimate,Std. Error,z value,Pr(>|z|)
0,(Intercept),-14.543976,0.110750,-131.323153,0.000000
1,"as.matrix(df3[, 7:ncol(df3)])inter17",0.288978,0.119760,2.412986,0.015822
2,"as.matrix(df3[, 7:ncol(df3)])inter30",0.083953,0.130104,0.645278,0.518747
3,"as.matrix(df3[, 7:ncol(df3)])inter71",-0.072083,0.113949,-0.632587,0.527004
4,"as.matrix(df3[, 7:ncol(df3)])inter115",-0.168307,0.124532,-1.351520,0.176529
...,...,...,...,...,...
879,phe$sex,-0.788598,0.020262,-38.920460,0.000000
880,phe$age,0.164580,0.001631,100.920980,0.000000
881,phe$PC1,0.190912,0.572412,0.333522,0.738741
882,phe$PC2,-1.803478,0.710494,-2.538345,0.011138
883,phe$xb,0.936499,0.006906,135.607610,0.000000

In [7]:
coef.iloc[875:,:]

,x,Estimate,Std. Error,z value,Pr(>|z|)
875,"as.matrix(df3[, 7:ncol(df3)])inter9962",0.037627,0.122863,0.306250,0.759414
876,"as.matrix(df3[, 7:ncol(df3)])inter9975",0.190541,0.120483,1.581479,0.113769
877,"as.matrix(df3[, 7:ncol(df3)])inter9981",-0.029818,0.146999,-0.202841,0.839259
878,"as.matrix(df3[, 7:ncol(df3)])inter9995",0.088443,0.095381,0.927265,0.353789
879,phe$sex,-0.788598,0.020262,-38.920460,0.000000
880,phe$age,0.164580,0.001631,100.920980,0.000000
881,phe$PC1,0.190912,0.572412,0.333522,0.738741
882,phe$PC2,-1.803478,0.710494,-2.538345,0.011138
883,phe$xb,0.936499,0.006906,135.607610,0.000000

In [8]:
coef2=coef.iloc[1:879,:]
coef2

,x,Estimate,Std. Error,z value,Pr(>|z|)
1,"as.matrix(df3[, 7:ncol(df3)])inter17",0.288978,0.119760,2.412986,0.015822
2,"as.matrix(df3[, 7:ncol(df3)])inter30",0.083953,0.130104,0.645278,0.518747
3,"as.matrix(df3[, 7:ncol(df3)])inter71",-0.072083,0.113949,-0.632587,0.527004
4,"as.matrix(df3[, 7:ncol(df3)])inter115",-0.168307,0.124532,-1.351520,0.176529
5,"as.matrix(df3[, 7:ncol(df3)])inter127",0.004152,0.130256,0.031873,0.974573
...,...,...,...,...,...
874,"as.matrix(df3[, 7:ncol(df3)])inter9955",0.156650,0.115612,1.354962,0.175430
875,"as.matrix(df3[, 7:ncol(df3)])inter9962",0.037627,0.122863,0.306250,0.759414
876,"as.matrix(df3[, 7:ncol(df3)])inter9975",0.190541,0.120483,1.581479,0.113769
877,"as.matrix(df3[, 7:ncol(df3)])inter9981",-0.029818,0.146999,-0.202841,0.839259
878,"as.matrix(df3[, 7:ncol(df3)])inter9995",0.088443,0.095381,0.927265,0.353789

In [9]:
coef2["index"] = coef2["x"].str.split("inter",expand=True)[1].astype(int)-1
coef2

<ipython-input-9-e0752e2ee2d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coef2["index"] = coef2["x"].str.split("inter",expand=True)[1].astype(int)-1

,x,Estimate,Std. Error,z value,Pr(>|z|),index
1,"as.matrix(df3[, 7:ncol(df3)])inter17",0.288978,0.119760,2.412986,0.015822,16
2,"as.matrix(df3[, 7:ncol(df3)])inter30",0.083953,0.130104,0.645278,0.518747,29
3,"as.matrix(df3[, 7:ncol(df3)])inter71",-0.072083,0.113949,-0.632587,0.527004,70
4,"as.matrix(df3[, 7:ncol(df3)])inter115",-0.168307,0.124532,-1.351520,0.176529,114
5,"as.matrix(df3[, 7:ncol(df3)])inter127",0.004152,0.130256,0.031873,0.974573,126
...,...,...,...,...,...,...
874,"as.matrix(df3[, 7:ncol(df3)])inter9955",0.156650,0.115612,1.354962,0.175430,9954
875,"as.matrix(df3[, 7:ncol(df3)])inter9962",0.037627,0.122863,0.306250,0.759414,9961
876,"as.matrix(df3[, 7:ncol(df3)])inter9975",0.190541,0.120483,1.581479,0.113769,9974
877,"as.matrix(df3[, 7:ncol(df3)])inter9981",-0.029818,0.146999,-0.202841,0.839259,9980
878,"as.matrix(df3[, 7:ncol(df3)])inter9995",0.088443,0.095381,0.927265,0.353789,9994

In [10]:
inter["index"]=combindex
inter

     CHR       POS REF ALT      SNP      BETA        SE         P  index
0      1   1057744   G   A    snp70 -0.093455  0.107984  0.386791     70
1      1   2312617   G   A   snp144 -0.149447  0.128226  0.243816    144
2      1   3027605   G   A   snp567 -0.224598  0.137043  0.101236    567
3      1   4502875   G   A    snp16  0.259840  0.114662  0.027584     16
4      1   4518029   G   A   snp936  0.027914  0.117919  0.812869    936
..   ...       ...  ..  ..      ...       ...       ...       ...    ...
873   22  44365987   G   A  snp9470  0.043943  0.092759  0.635694   9470
874   22  45096678   G   A  snp9690  0.029797  0.100152  0.766071   9690
875   22  45333796   G   A  snp9883  0.061416  0.109836  0.576052   9883
876   22  47610632   G   A  snp9601  0.003352  0.153078  0.982530   9601
877   22  47930967   G   A  snp9182 -0.070457  0.128229  0.582687   9182

[878 rows x 9 columns]

In [11]:
inter=inter.sort_values("index").reset_index()
coef2=coef2.sort_values("index").reset_index()

In [12]:
compare = pd.concat([inter[["index","BETA","P"]],coef2[["index","Estimate","Pr(>|z|)"]]],axis=1)
compare.to_csv("~/project/guangyou/interaction/110921_f3393/f3393.xx.1.1.glm.regenie.comp.csv",index=False)
compare

     index      BETA         P  index  Estimate  Pr(>|z|)
0       16  0.259840  0.027584     16  0.288978  0.015822
1       29  0.108114  0.401486     29  0.083953  0.518747
2       70 -0.093455  0.386791     70 -0.072083  0.527004
3      114 -0.143144  0.227278    114 -0.168307  0.176529
4      126 -0.021847  0.860571    126  0.004152  0.974573
..     ...       ...       ...    ...       ...       ...
873   9954  0.167932  0.157766   9954  0.156650  0.175430
874   9961  0.009626  0.937812   9961  0.037627  0.759414
875   9974  0.157952  0.193056   9974  0.190541  0.113769
876   9980  0.023760  0.868938   9980 -0.029818  0.839259
877   9994  0.098983  0.306390   9994  0.088443  0.353789

[878 rows x 6 columns]

In [16]:
(compare["BETA"]-compare["Estimate"]).mean()

0.000343391885193234

In [18]:
compare["BETA"].corr(compare["Estimate"])

0.9347580065122371

In [19]:
(compare["P"]-compare["Pr(>|z|)"]).mean()

0.0016236329756659938

In [20]:
compare["P"].corr(compare["Pr(>|z|)"])

0.8087589220957397

# Case only regenie interaction
#### Regenie y(only 1) ~ x
#### Regenie xi ~ x with null model from x1 ~ x (among y=1 samples)

## Prepare the case only phenotype and genotype

In [1]:
# f3393
## Prepare the ped
import pandas as pd
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe[phe["f3393"]==1]

           FID      IID  sex  f3393  age       PC1       PC2
0      1000112  1000112    0      1   68  0.011931  0.031198
1      1001067  1001067    0      1   50  0.004472  0.002904
2      1001384  1001384    1      1   61  0.002001 -0.001850
3      1001459  1001459    0      1   64  0.010770  0.022391
4      1002548  1002548    0      1   62  0.000226 -0.014383
...        ...      ...  ...    ...  ...       ...       ...
15596  6022050  6022050    1      1   52  0.002051 -0.007017
15597  6022567  6022567    0      1   73  0.004592 -0.007799
15598  6023186  6023186    0      1   67  0.001938 -0.003608
15599  6023568  6023568    1      1   68  0.012504  0.016152
15600  6025134  6025134    0      1   64 -0.003101 -0.006702

[15601 rows x 7 columns]

In [2]:
phe.loc[phe["f3393"]==1,["FID","IID"]].to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.caseonly.ID",index=False,header=False,sep="\t")

In [2]:
f3393 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f3393.x.raw",delim_whitespace=True, header=0)
f3393

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
0,1000019,1000019,0,0,2,-9,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1000022,1000022,0,0,1,-9,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1000035,1000035,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1000046,1000046,0,0,2,-9,0.0,0.0,0.0,2.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000054,1000054,0,0,2,-9,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486411,6025390,6025390,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0
486412,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486413,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486414,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
486415,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [3]:
f3393[f3393["IID"].isin(phe.loc[phe["f3393"]==1,"IID"].to_list())]

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
10,1000112,1000112,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
100,1001067,1001067,0,0,1,-9,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
132,1001384,1001384,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
139,1001459,1001459,0,0,1,-9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
244,1002548,1002548,0,0,1,-9,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486087,6022050,6022050,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
486137,6022567,6022567,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
486198,6023186,6023186,0,0,1,-9,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
486235,6023568,6023568,0,0,2,-9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486386,6025134,6025134,0,0,1,-9,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
first6 = f3393[f3393["IID"].isin(phe.loc[phe["f3393"]==1,"IID"].to_list())].iloc[:,:6]
df = f3393[f3393["IID"].isin(phe.loc[phe["f3393"]==1,"IID"].to_list())].iloc[:,6:]
df

,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,rs112563471_T,rs12757342_G,rs2483275_T,rs77144466_A,rs10915421_C,rs10915522_A,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
139,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
244,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486087,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
486137,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
486198,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
486235,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486386,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df.iloc[0,:].value_counts()

0.0    3047
1.0     839
2.0     127
Name: 10, dtype: int64

In [53]:
3047+839+127

4013

In [54]:
df.iloc[0,:].isnull().sum()

7

In [57]:
df.iloc[0,:][df.iloc[0,:].isnull()]

rs78775474_G    NaN
rs113059597_T   NaN
rs2457826_C     NaN
rs11595101_C    NaN
rs79872689_A    NaN
rs72849475_A    NaN
rs132930_G      NaN
Name: 10, dtype: float64

In [63]:
df.isnull().sum()

rs11579015_C     29
rs3121828_T      20
rs17384422_A     52
rs2842909_T      39
rs112563471_T    19
                 ..
rs75066394_C     14
rs17779492_A     45
rs73177000_C     15
rs742271_T       28
rs36062310_A     67
Length: 4020, dtype: int64

In [4]:
df.isnull().sum().sum()

174626

There are missing values deteced in genotype data. Replace them with NA in the matrix

In [5]:
import numpy as np
tmp = f3393[f3393["IID"].isin(phe.loc[phe["f3393"]==1,"IID"].to_list())]
tmp.columns = ["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+["snp%d"%i for i in range(1,df.shape[1]+1)]
#tmp.replace(to_replace =np.nan, value ="NA", inplace=True)
tmp = tmp.astype('Int64')
tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.caseonly.x",index=False,sep="\t")
tmp

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp4011,snp4012,snp4013,snp4014,snp4015,snp4016,snp4017,snp4018,snp4019,snp4020
10,1000112,1000112,0,0,1,-9,0,0,0,0,...,0,0,0,2,0,0,1,0,0,0
100,1001067,1001067,0,0,1,-9,0,0,0,0,...,2,0,1,0,0,0,0,0,1,0
132,1001384,1001384,0,0,2,-9,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
139,1001459,1001459,0,0,1,-9,0,0,0,1,...,0,1,0,1,0,0,1,0,0,1
244,1002548,1002548,0,0,1,-9,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486087,6022050,6022050,0,0,2,-9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
486137,6022567,6022567,0,0,1,-9,0,0,0,0,...,1,1,0,2,0,0,1,0,0,0
486198,6023186,6023186,0,0,1,-9,0,0,1,0,...,2,0,0,1,0,0,1,0,0,0
486235,6023568,6023568,0,0,2,-9,0,0,0,1,...,0,1,0,1,0,0,0,0,0,0
486386,6025134,6025134,0,0,1,-9,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
tmp.isnull().sum().sum()

In [25]:
snplist=pd.DataFrame(df.columns)[0].str.split("_",expand=True)[0]
snplist.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.snplist",header=False,index=False)
snplist=snplist.to_list()
snplist[:5]

['rs11579015', 'rs3121828', 'rs17384422', 'rs2842909', 'rs112563471']

In [9]:
bim = pd.read_csv("~/UKBiobank/genotype_files_processed/090221_sample_variant_qc_final_callrate90/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.bim",header=None,sep="\t")
bim

         0            1  2         3  4  5
0        1    rs3131972  0    752721  A  G
1        1   rs79373928  0    801536  G  T
2        1    rs4970383  0    838555  A  C
3        1    rs4970382  0    840753  C  T
4        1     rs950122  0    846864  C  G
...     ..          ... ..       ... .. ..
429448  22    rs4824147  0  51173542  T  C
429449  22   rs73174435  0  51174939  T  C
429450  22   rs73174437  0  51177257  T  C
429451  22    rs3865764  0  51185848  G  A
429452  22  rs142680588  0  51193629  G  A

[429453 rows x 6 columns]

In [35]:
alt=bim.loc[bim[1]==snplist[0],4].to_list()[0]
ref=bim.loc[bim[1]==snplist[0],5].to_list()[0]
print("%s %s"%(ref,alt))

T C

In [46]:
for i in range(df.shape[1]):
    alt=bim.loc[bim[1]==snplist[i],4].to_list()[0]
    ref=bim.loc[bim[1]==snplist[i],5].to_list()[0]
    df.iloc[:,i] = df.iloc[:,i].replace({0: "%s %s"%(ref,ref), 1: "%s %s"%(ref,alt), 2: "%s %s"%(alt,alt)})
df

,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,rs112563471_T,rs12757342_G,rs2483275_T,rs77144466_A,rs10915421_C,rs10915522_A,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
10,T T,G G,G G,C C,C C,T G,C C,G G,T C,G A,...,A A,C C,G G,T T,T T,T T,G A,T T,C C,G G
100,T T,G G,G G,C C,C C,T T,C C,G G,T T,G G,...,G G,C C,G C,C C,T T,T T,G G,T T,C T,G G
132,T T,G G,G G,C C,C C,T T,C C,G G,T C,G G,...,A G,C C,G G,C C,T T,T T,G A,T T,C C,G G
139,T T,G G,G G,C T,C C,T T,T T,G G,T C,G G,...,A A,C T,G G,C T,T T,T T,G A,T T,C C,G A
244,T C,G G,G G,C T,C C,T T,C C,G G,T C,G G,...,A A,C C,G G,C T,T T,T T,G A,T T,C C,G G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486087,T T,G G,G G,C C,C C,T T,T T,G G,T T,G G,...,A A,C C,G G,C C,T T,T T,G G,T T,C C,G G
486137,T T,G G,G G,C C,C C,T G,C T,G G,T T,G G,...,A G,C T,G G,T T,T T,T T,G A,T T,C C,G G
486198,T T,G G,G A,C C,C C,T T,C T,G G,T T,G G,...,G G,C C,G G,C T,T T,T T,G A,T T,C C,G G
486235,T T,G G,G G,C T,C C,T T,C C,G G,T C,G G,...,A A,C T,G G,C T,T T,T T,G G,T T,C C,G G
486386,T T,G G,G G,C T,C C,T T,C T,G G,T C,G G,...,A A,C C,G G,C C,T T,T T,G G,T T,C C,G G

In [47]:
import csv
pedfile = pd.concat([first6, df], axis=1)
pedfile.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.caseonly.genotype.ped",header=False,index=False, sep="\t", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="")
pedfile

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
10,1000112,1000112,0,0,1,-9,T T,G G,G G,C C,...,A A,C C,G G,T T,T T,T T,G A,T T,C C,G G
100,1001067,1001067,0,0,1,-9,T T,G G,G G,C C,...,G G,C C,G C,C C,T T,T T,G G,T T,C T,G G
132,1001384,1001384,0,0,2,-9,T T,G G,G G,C C,...,A G,C C,G G,C C,T T,T T,G A,T T,C C,G G
139,1001459,1001459,0,0,1,-9,T T,G G,G G,C T,...,A A,C T,G G,C T,T T,T T,G A,T T,C C,G A
244,1002548,1002548,0,0,1,-9,T C,G G,G G,C T,...,A A,C C,G G,C T,T T,T T,G A,T T,C C,G G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486087,6022050,6022050,0,0,2,-9,T T,G G,G G,C C,...,A A,C C,G G,C C,T T,T T,G G,T T,C C,G G
486137,6022567,6022567,0,0,1,-9,T T,G G,G G,C C,...,A G,C T,G G,T T,T T,T T,G A,T T,C C,G G
486198,6023186,6023186,0,0,1,-9,T T,G G,G A,C C,...,G G,C C,G G,C T,T T,T T,G A,T T,C C,G G
486235,6023568,6023568,0,0,2,-9,T T,G G,G G,C T,...,A A,C T,G G,C T,T T,T T,G G,T T,C C,G G
486386,6025134,6025134,0,0,1,-9,T T,G G,G G,C T,...,A A,C C,G G,C C,T T,T T,G G,T T,C C,G G

In [49]:
## Prepare the map
bim[bim[1].isin(snplist)].iloc[:,:4]

         0            1  2         3
39       1   rs11579015  0   1036959
149      1    rs3121828  0   1986754
294      1   rs17384422  0   2824171
297      1    rs2842909  0   2859724
304      1  rs112563471  0   2898199
...     ..          ... ..       ...
428699  22   rs75066394  0  48814168
429138  22   rs17779492  0  49925268
429159  22   rs73177000  0  50002290
429171  22     rs742271  0  50087337
429393  22   rs36062310  0  50988105

[4020 rows x 4 columns]

In [50]:
bim[bim[1].isin(snplist)].iloc[:,:4].to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.caseonly.genotype.map",sep=" ",index=False,header=False)

In [1]:
# f2247
## Prepare the phenotype
import pandas as pd
import numpy as np
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_difficulty_f2247_expandedwhite_110453cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe.loc[phe["f2247"]==1,["FID","IID"]].to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247/f2247.caseonly.ID",index=False,header=False,sep="\t")
f2247 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f2247.x.raw",delim_whitespace=True, header=0)
first6 = f2247[f2247["IID"].isin(phe.loc[phe["f2247"]==1,"IID"].to_list())].iloc[:,:6]
df = f2247[f2247["IID"].isin(phe.loc[phe["f2247"]==1,"IID"].to_list())].iloc[:,6:]
snplist=pd.DataFrame(df.columns)[0].str.split("_",expand=True)[0]
snplist.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247/f2247.snplist",header=False,index=False)
tmp = f2247[f2247["IID"].isin(phe.loc[phe["f2247"]==1,"IID"].to_list())]
tmp.columns = ["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+["snp%d"%i for i in range(1,df.shape[1]+1)]
#tmp.replace(to_replace =np.nan, value ="NA", inplace=True)
tmp = tmp.astype('Int64')
tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247/f2247.caseonly.x",index=False,sep="\t")
tmp

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp5243,snp5244,snp5245,snp5246,snp5247,snp5248,snp5249,snp5250,snp5251,snp5252
1,1000022,1000022,0,0,1,-9,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,1000090,1000090,0,0,2,-9,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
10,1000112,1000112,0,0,1,-9,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
15,1000170,1000170,0,0,2,-9,0,0,0,0,...,1,0,1,1,0,1,0,1,2,0
17,1000198,1000198,0,0,2,-9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486371,6024983,6024983,0,0,1,-9,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
486372,6024997,6024997,0,0,2,-9,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
486385,6025128,6025128,0,0,2,-9,0,2,0,1,...,0,0,1,1,0,0,0,0,1,0
486386,6025134,6025134,0,0,1,-9,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
486407,6025354,6025354,0,0,2,-9,0,1,0,0,...,0,0,0,0,0,1,0,0,2,0

In [7]:
# f2257
## Prepare the phenotype
import pandas as pd
import numpy as np
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_noise_f2257_expandedwhite_161443cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe.loc[phe["f2257"]==1,["FID","IID"]].to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2257/f2257.caseonly.ID",index=False,header=False,sep="\t")
f2257 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f2257.x.raw",delim_whitespace=True, header=0)
first6 = f2257[f2257["IID"].isin(phe.loc[phe["f2257"]==1,"IID"].to_list())].iloc[:,:6]
df = f2257[f2257["IID"].isin(phe.loc[phe["f2257"]==1,"IID"].to_list())].iloc[:,6:]
snplist=pd.DataFrame(df.columns)[0].str.split("_",expand=True)[0]
snplist.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2257/f2257.snplist",header=False,index=False)
tmp = f2257[f2257["IID"].isin(phe.loc[phe["f2257"]==1,"IID"].to_list())]
tmp.columns = ["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+["snp%d"%i for i in range(1,df.shape[1]+1)]
#tmp.replace(to_replace =np.nan, value ="NA", inplace=True)
tmp = tmp.astype('Int64')
tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2257/f2257.caseonly.x",index=False,sep="\t")
tmp
#161443 samples, 5587 snps

MemoryError: Unable to allocate 3.71 MiB for an array with shape (486416,) and data type float64

In [6]:
# f2247_f2257
## Prepare the phenotype
import pandas as pd
import numpy as np
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Combined_f2247_f2257_expandedwhite_93258cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe.loc[phe["f2247_f2257"]==1,["FID","IID"]].to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247_f2257/f2247_f2257.caseonly.ID",index=False,header=False,sep="\t")
f2247_f2257 = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f2247_f2257.x.raw",delim_whitespace=True, header=0)
first6 = f2247_f2257[f2247_f2257["IID"].isin(phe.loc[phe["f2247_f2257"]==1,"IID"].to_list())].iloc[:,:6]
df = f2247_f2257[f2247_f2257["IID"].isin(phe.loc[phe["f2247_f2257"]==1,"IID"].to_list())].iloc[:,6:]
snplist=pd.DataFrame(df.columns)[0].str.split("_",expand=True)[0]
snplist.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247_f2257/f2247_f2257.snplist",header=False,index=False)
tmp = f2247_f2257[f2247_f2257["IID"].isin(phe.loc[phe["f2247_f2257"]==1,"IID"].to_list())]
tmp.columns = ["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+["snp%d"%i for i in range(1,df.shape[1]+1)]
#tmp.replace(to_replace =np.nan, value ="NA", inplace=True)
tmp = tmp.astype('Int64')
tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f2247_f2257/f2247_f2257.caseonly.x",index=False,sep="\t")
tmp
#93258 samples 5273 SNPs

MemoryError: Unable to allocate 19.1 GiB for an array with shape (5273, 486416) and data type float64

## Case only Regenie x1 ~ x result

In [1]:
import pandas as pd
comp = pd.read_csv("~/project/guangyou/interaction/110921_f3393/f3393.interaction.allind.first10000.stats",sep="\t",header=0)
comp

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12
0,rs11579015,0.052946,0.005488,rs1746267,-0.038923,0.001983,70,-0.093455,0.386791
1,rs11579015,0.052946,0.005488,rs597362,0.040677,0.007715,144,-0.149447,0.243816
2,rs11579015,0.052946,0.005488,rs12986771,0.071632,0.007834,567,-0.224598,0.101236
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,16,0.259840,0.027584
4,rs11579015,0.052946,0.005488,rs13087430,0.036862,0.006891,936,0.027914,0.812869
...,...,...,...,...,...,...,...,...,...
873,rs17384422,-0.060353,0.003146,rs72817758,-0.084326,0.003914,9470,0.043943,0.635694
874,rs17384422,-0.060353,0.003146,rs9458748,-0.035427,0.008871,9690,0.029797,0.766071
875,rs17384422,-0.060353,0.003146,rs144488000,0.152255,0.000402,9883,0.061416,0.576052
876,rs17384422,-0.060353,0.003146,rs117891012,-0.095833,0.004866,9601,0.003352,0.982530
877,rs17384422,-0.060353,0.003146,rs80134603,0.080889,0.003773,9182,-0.070457,0.582687

In [2]:
co = pd.read_csv("~/project/guangyou/interaction/111521_f3393_caseonly_x1/f3393.caseonly_snp1.regenie.snp_stats.gz", compression="gzip",sep="\t",header=0)
co

      CHR       POS REF ALT          SNP      BETA        SE         P
0       1   1036959   T   C   rs11579015  0.997276  0.007998  0.000000
1       1   1986754   G   T    rs3121828 -0.015968  0.010639  0.133390
2       1   2824171   G   A   rs17384422  0.025399  0.008706  0.003529
3       1   2859724   C   T    rs2842909  0.003045  0.006757  0.652235
4       1   2898199   C   T  rs112563471 -0.001142  0.011321  0.919668
...   ...       ...  ..  ..          ...       ...       ...       ...
4015   22  48814168   T   C   rs75066394  0.007660  0.004504  0.088961
4016   22  49925268   G   A   rs17779492 -0.000880  0.001087  0.418595
4017   22  50002290   T   C   rs73177000 -0.004099  0.002376  0.084436
4018   22  50087337   C   T     rs742271  0.001289  0.001229  0.294259
4019   22  50988105   G   A   rs36062310  0.001322  0.002138  0.536473

[4020 rows x 8 columns]

In [3]:
# Top 10 interaction with snp1 (rs11579015)
co.sort_values("P").iloc[:10,:]

      CHR        POS REF ALT          SNP      BETA        SE         P
0       1    1036959   T   C   rs11579015  0.997276  0.007998  0.000000
707     3   21867032   G   A   rs74704090 -0.004158  0.001086  0.000129
3193   15   58040371   T   C    rs1469279  0.005103  0.001416  0.000313
2978   13  101997356   T   C    rs9557620 -0.003255  0.000923  0.000424
3482   17   57332520   A   G  rs117836409 -0.010394  0.003099  0.000796
302     1  217627281   G   C  rs115925313 -0.049721  0.015150  0.001031
2428   10  113819749   A   C    rs7079688 -0.005234  0.001610  0.001153
3058   14   62501243   A   G   rs75883764  0.008923  0.002772  0.001289
3374   16   84472243   G   C    rs2260478  0.003934  0.001225  0.001324
2706   12   16277422   C   G    rs1671472 -0.002973  0.000943  0.001625

In [14]:
# Compare the result between y ~ x1x2 and x1 ~ x
selectco =  co[co["SNP"].isin(comp.loc[comp["SNP1"]=="rs11579015","SNP2"].to_list())]
comp2 = comp[comp["SNP1"]=="rs11579015"]
comp2.merge(selectco[["SNP","BETA","P"]],how='inner',left_on="SNP2",right_on="SNP")

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12,SNP,BETA,P
0,rs11579015,0.052946,0.005488,rs1746267,-0.038923,0.001983,70,-0.093455,0.386791,rs1746267,-0.000398,0.940216
1,rs11579015,0.052946,0.005488,rs597362,0.040677,0.007715,144,-0.149447,0.243816,rs597362,-0.006654,0.303228
2,rs11579015,0.052946,0.005488,rs12986771,0.071632,0.007834,567,-0.224598,0.101236,rs12986771,-0.002045,0.290954
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,16,0.259840,0.027584,rs112726527,0.011863,0.281041
4,rs11579015,0.052946,0.005488,rs13087430,0.036862,0.006891,936,0.027914,0.812869,rs13087430,-0.001201,0.223670
...,...,...,...,...,...,...,...,...,...,...,...,...
122,rs11579015,0.052946,0.005488,rs7277903,0.045411,0.003260,3927,-0.051539,0.688140,rs7277903,0.001982,0.075894
123,rs11579015,0.052946,0.005488,rs116969183,-0.093580,0.005223,3746,-0.163503,0.274825,rs116969183,-0.000972,0.695884
124,rs11579015,0.052946,0.005488,rs118028386,0.104502,0.002675,3821,0.067812,0.593235,rs118028386,-0.000868,0.727914
125,rs11579015,0.052946,0.005488,rs79302893,-0.148439,0.001017,3896,-0.163963,0.193187,rs79302893,-0.001546,0.645993
126,rs11579015,0.052946,0.005488,rs62209376,0.099425,0.005447,3892,-0.012856,0.887330,rs62209376,0.002341,0.363268

In [17]:
comp3 = comp2.merge(selectco[["SNP","BETA","P"]],how='inner',left_on="SNP2",right_on="SNP")
comp3.sort_values("P12").iloc[:10,:]

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12,SNP,BETA,P
88,rs11579015,0.052946,0.005488,rs12604008,-0.039390,0.005933,3396,-0.271070,0.012859,rs12604008,-0.000386,0.712049
103,rs11579015,0.052946,0.005488,rs2567132,0.098094,0.003220,2770,-0.293904,0.013521,rs2567132,-0.002334,0.328495
5,rs11579015,0.052946,0.005488,rs76739884,-0.184113,0.002070,527,0.283628,0.022631,rs76739884,-0.001894,0.670437
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,16,0.259840,0.027584,rs112726527,0.011863,0.281041
17,rs11579015,0.052946,0.005488,rs4956334,0.122601,0.009595,1126,0.289254,0.031769,rs4956334,-0.005016,0.135479
51,rs11579015,0.052946,0.005488,rs34983436,0.110048,0.005230,2468,0.251664,0.032369,rs34983436,0.001640,0.559783
20,rs11579015,0.052946,0.005488,rs28840152,0.147399,0.008292,1137,-0.300858,0.036314,rs28840152,-0.005091,0.198342
115,rs11579015,0.052946,0.005488,rs34071357,0.145066,0.001002,3532,-0.248688,0.051610,rs34071357,-0.001869,0.553963
98,rs11579015,0.052946,0.005488,rs1035775,0.046082,0.001117,2829,0.268654,0.053622,rs1035775,-0.000838,0.412562
94,rs11579015,0.052946,0.005488,rs77634820,-0.102901,0.000266,2887,-0.223952,0.060769,rs77634820,0.001098,0.600876

In [18]:
glmc = pd.read_csv("~/project/guangyou/interaction/110921_f3393/f3393.xx.1.1.glm.regenie.comp.csv",header=0)
glmc

     index      BETA         P  index.1  Estimate  Pr(>|z|)
0       16  0.259840  0.027584       16  0.288978  0.015822
1       29  0.108114  0.401486       29  0.083953  0.518747
2       70 -0.093455  0.386791       70 -0.072083  0.527004
3      114 -0.143144  0.227278      114 -0.168307  0.176529
4      126 -0.021847  0.860571      126  0.004152  0.974573
..     ...       ...       ...      ...       ...       ...
873   9954  0.167932  0.157766     9954  0.156650  0.175430
874   9961  0.009626  0.937812     9961  0.037627  0.759414
875   9974  0.157952  0.193056     9974  0.190541  0.113769
876   9980  0.023760  0.868938     9980 -0.029818  0.839259
877   9994  0.098983  0.306390     9994  0.088443  0.353789

[878 rows x 6 columns]

In [21]:
comp4 = comp3.merge(glmc[["index.1","Estimate","Pr(>|z|)"]],how='inner',left_on="SNP12",right_on="index.1")
comp4.to_csv("~/project/guangyou/interaction/110921_f3393/f3393.xx.1.1.glm.regenie.caaseonly.comp.csv",index=False)
comp4.sort_values("P12").iloc[:10,:]

,SNP1,BETA1,P1,SNP2,BETA2,P2,SNP12,BETA12,P12,SNP,BETA,P,index.1,Estimate,Pr(>|z|)
88,rs11579015,0.052946,0.005488,rs12604008,-0.039390,0.005933,3396,-0.271070,0.012859,rs12604008,-0.000386,0.712049,3396,-0.256511,0.022349
103,rs11579015,0.052946,0.005488,rs2567132,0.098094,0.003220,2770,-0.293904,0.013521,rs2567132,-0.002334,0.328495,2770,-0.322236,0.009137
5,rs11579015,0.052946,0.005488,rs76739884,-0.184113,0.002070,527,0.283628,0.022631,rs76739884,-0.001894,0.670437,527,0.270240,0.036291
3,rs11579015,0.052946,0.005488,rs112726527,-0.068007,0.008253,16,0.259840,0.027584,rs112726527,0.011863,0.281041,16,0.288978,0.015822
17,rs11579015,0.052946,0.005488,rs4956334,0.122601,0.009595,1126,0.289254,0.031769,rs4956334,-0.005016,0.135479,1126,0.224518,0.098573
51,rs11579015,0.052946,0.005488,rs34983436,0.110048,0.005230,2468,0.251664,0.032369,rs34983436,0.001640,0.559783,2468,0.187409,0.110798
20,rs11579015,0.052946,0.005488,rs28840152,0.147399,0.008292,1137,-0.300858,0.036314,rs28840152,-0.005091,0.198342,1137,-0.299566,0.047935
115,rs11579015,0.052946,0.005488,rs34071357,0.145066,0.001002,3532,-0.248688,0.051610,rs34071357,-0.001869,0.553963,3532,-0.265480,0.053952
98,rs11579015,0.052946,0.005488,rs1035775,0.046082,0.001117,2829,0.268654,0.053622,rs1035775,-0.000838,0.412562,2829,0.226419,0.082700
94,rs11579015,0.052946,0.005488,rs77634820,-0.102901,0.000266,2887,-0.223952,0.060769,rs77634820,0.001098,0.600876,2887,-0.243903,0.063245

## Compare all the methods with a random small fraction of data

In [1]:
import pandas as pd
import random
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
phe

            FID      IID  sex  f3393  age       PC1       PC2
0       1000112  1000112    0      1   68  0.011931  0.031198
1       1001067  1001067    0      1   50  0.004472  0.002904
2       1001384  1001384    1      1   61  0.002001 -0.001850
3       1001459  1001459    0      1   64  0.010770  0.022391
4       1002548  1002548    0      1   62  0.000226 -0.014383
...         ...      ...  ...    ...  ...       ...       ...
252914  6025363  6025363    0      0   64  0.004982  0.006218
252915  6025409  6025409    1      0   66  0.002693 -0.003802
252916  6025411  6025411    1      0   49  0.014998  0.007031
252917  6025425  6025425    1      0   44  0.017568  0.020817
252918  6025438  6025438    0      0   55  0.004759  0.004076

[252919 rows x 7 columns]

In [23]:
phe["f3393"].value_counts()

0    237318
1     15601
Name: f3393, dtype: int64

In [24]:
15601/252919

0.0616837801825881

In [19]:
random.seed(123)
ranlist=random.sample(phe["IID"].to_list(),10000)

In [25]:
phe[phe["IID"].isin(ranlist)]["f3393"].value_counts()

0    9381
1     619
Name: f3393, dtype: int64

In [26]:
619/10000

0.0619

# Regenie interaction: Correct the model

logit(p) = x1x2+x.+sex+age+g+e 

Use the genotype terms here as covariates.

In [1]:
# f3393 first 10000 interacitons
## Prepare the interaction term phenotype file
import pandas as pd
file="~/UKBiobank/phenotype_files/hearing_impairment/fulldb_500K/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2"
phe=pd.read_csv(file,sep="\t",header=0)
df = pd.read_csv("/mnt/mfs/statgen/guangyou/interaction/f3393.x.raw",delim_whitespace=True, header=0)
df

,FID,IID,PAT,MAT,SEX,PHENOTYPE,rs11579015_C,rs3121828_T,rs17384422_A,rs2842909_T,...,rs28628653_G,rs12170325_T,rs16994776_C,rs5768330_T,rs9615868_C,rs75066394_C,rs17779492_A,rs73177000_C,rs742271_T,rs36062310_A
0,1000019,1000019,0,0,2,-9,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1000022,1000022,0,0,1,-9,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1000035,1000035,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1000046,1000046,0,0,2,-9,0.0,0.0,0.0,2.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000054,1000054,0,0,2,-9,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486411,6025390,6025390,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0
486412,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486413,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486414,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
486415,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [2]:
tmp = df[df["IID"].isin(phe["IID"].to_list())]
tmp.columns = ["FID","IID","PAT","MAT","SEX","PHENOTYPE"]+["snp%d"%i for i in range(1,4020+1)]
tmp

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp4011,snp4012,snp4013,snp4014,snp4015,snp4016,snp4017,snp4018,snp4019,snp4020
5,1000063,1000063,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0
6,1000078,1000078,0,0,2,-9,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1000081,1000081,0,0,1,-9,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10,1000112,1000112,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
11,1000129,1000129,0,0,1,-9,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486408,6025363,6025363,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
486412,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486413,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486414,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
486415,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [7]:
tmp.isnull().sum().sum()

2876941

In [8]:
tmp.fillna(tmp.mean(), inplace=True)
#tmp = tmp.astype('Int64')
#tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.phenotyped.x",index=False,sep="\t")
tmp

/home/gl2776/miniconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp4011,snp4012,snp4013,snp4014,snp4015,snp4016,snp4017,snp4018,snp4019,snp4020
5,1000063,1000063,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0
6,1000078,1000078,0,0,2,-9,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1000081,1000081,0,0,1,-9,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10,1000112,1000112,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
11,1000129,1000129,0,0,1,-9,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486408,6025363,6025363,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
486412,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486413,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
486414,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
486415,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [9]:
tmp.isnull().sum().sum()

0

In [10]:
tmp["snp1"].value_counts()

0.000000    198473
1.000000     50655
2.000000      3357
0.227217       434
Name: snp1, dtype: int64

In [11]:
tmp = tmp.merge(phe.iloc[:,1:], how='inner', on="IID")
tmp.to_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.addx.phe",index=False,sep="\t")
tmp

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp4016,snp4017,snp4018,snp4019,snp4020,sex,f3393,age,PC1,PC2
0,1000063,1000063,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0,0,43,0.001312,-0.011075
1,1000078,1000078,0,0,2,-9,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1,0,60,0.006195,-0.009804
2,1000081,1000081,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0,0,67,-0.118702,0.016429
3,1000112,1000112,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0,1,68,0.011931,0.031198
4,1000129,1000129,0,0,1,-9,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,62,0.000509,-0.011855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252914,6025363,6025363,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,64,0.004982,0.006218
252915,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1,0,66,0.002693,-0.003802
252916,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,49,0.014998,0.007031
252917,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1,0,44,0.017568,0.020817
252918,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0,0,55,0.004759,0.004076

In [12]:
tmp.isnull().sum().sum()

0

In [1]:
import pandas as pd
phe=pd.read_csv("/home/gl2776/project/guangyou/interaction/bfile/f3393/f3393.addx.phe",sep="\t",header=0)
phe

,FID,IID,PAT,MAT,SEX,PHENOTYPE,snp1,snp2,snp3,snp4,...,snp4016,snp4017,snp4018,snp4019,snp4020,sex,f3393,age,PC1,PC2
0,1000063,1000063,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0,0,43,0.001312,-0.011075
1,1000078,1000078,0,0,2,-9,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1,0,60,0.006195,-0.009804
2,1000081,1000081,0,0,1,-9,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0,0,67,-0.118702,0.016429
3,1000112,1000112,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0,1,68,0.011931,0.031198
4,1000129,1000129,0,0,1,-9,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,62,0.000509,-0.011855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252914,6025363,6025363,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0,0,64,0.004982,0.006218
252915,6025409,6025409,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1,0,66,0.002693,-0.003802
252916,6025411,6025411,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0,49,0.014998,0.007031
252917,6025425,6025425,0,0,2,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1,0,44,0.017568,0.020817
252918,6025438,6025438,0,0,1,-9,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0,0,55,0.004759,0.004076

In [2]:
phe.isnull().sum().sum()

0

In [3]:
phe["f3393"].value_counts()

0    237318
1     15601
Name: f3393, dtype: int64

In [4]:
phe["snp10"].value_counts()

0.000000    220324
1.000000     31219
2.000000      1054
0.131937       322
Name: snp10, dtype: int64

# Regenie new version interaction result

In [3]:
import os
filelist0 = os.listdir("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache")
filelist = []
for file in filelist0:
    if file.endswith("regenie.gz"):
        filelist.append(file)
len(filelist)

4020

In [4]:
filelist[:5]

['100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs2210270_f3393.regenie.gz',
 '100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs36062310_f3393.regenie.gz',
 '100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs62224104_f3393.regenie.gz',
 '100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs73170515_f3393.regenie.gz',
 '100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs10470197_f3393.regenie.gz']

In [6]:
for file in filelist:
    if 'rs11579015' in file:
        print(file)

100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs11579015_f3393.regenie.gz

In [9]:
import pandas as pd
df = pd.read_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs11579015_f3393.regenie.gz",compression = "gzip",header=0,sep=" ")
df.head(18)

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,1,1986754,rs3121828,G,T,0.059471,252217,ADD,0.070264,0.025279,7.610960,2.236460,NaN
1,1,1986754,rs3121828,G,T,0.059471,252217,ADD-INT_rs11579015,0.032567,0.054211,0.360904,0.261216,NaN
2,1,1986754,rs3121828,G,T,0.059471,252217,ADD-INT_rs11579015^2,0.025918,0.040457,0.410399,0.282524,NaN
3,1,1986754,rs3121828,G,T,0.059471,252217,ADD-INT_SNP,0.092431,0.028087,10.829900,3.000550,NaN
4,1,1986754,rs3121828,G,T,0.059471,252217,ADD-INT_SNPxrs11579015,-0.097976,0.055263,3.143190,1.117790,NaN
5,1,1986754,rs3121828,G,T,0.059471,252217,ADD-INT_2DF,NaN,NaN,10.951600,2.378110,NaN
6,1,2824171,rs17384422,G,A,0.102675,251667,ADD,-0.059643,0.020571,8.504260,2.450610,NaN
7,1,2824171,rs17384422,G,A,0.102675,251667,ADD-INT_rs11579015,0.006589,0.054461,0.014640,0.043978,NaN
8,1,2824171,rs17384422,G,A,0.102675,251667,ADD-INT_rs11579015^2,0.024071,0.040551,0.352351,0.257443,NaN
9,1,2824171,rs17384422,G,A,0.102675,251667,ADD-INT_SNP,-0.079784,0.023270,11.755400,3.217060,NaN
10,1,2824171,rs17384422,G,A,0.102675,251667,ADD-INT_SNPxrs11579015,0.078802,0.043691,3.253080,1.146970,NaN
11,1,2824171,rs17384422,G,A,0.102675,251667,ADD-INT_2DF,NaN,NaN,11.809200,2.564330,NaN
12,1,2859724,rs2842909,C,T,0.172233,251740,ADD,0.058418,0.016020,13.171500,3.546320,NaN
13,1,2859724,rs2842909,C,T,0.172233,251740,ADD-INT_rs11579015,0.016577,0.055499,0.089215,0.116238,NaN
14,1,2859724,rs2842909,C,T,0.172233,251740,ADD-INT_rs11579015^2,0.026389,0.040482,0.424941,0.288630,NaN
15,1,2859724,rs2842909,C,T,0.172233,251740,ADD-INT_SNP,0.056057,0.018023,9.674470,2.728520,NaN
16,1,2859724,rs2842909,C,T,0.172233,251740,ADD-INT_SNPxrs11579015,0.009530,0.034616,0.075789,0.106190,NaN
17,1,2859724,rs2842909,C,T,0.172233,251740,ADD-INT_2DF,NaN,NaN,13.405000,2.910860,NaN

In [13]:
df.sort_values("LOG10P",ascending=False)

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
7602,5,73071641,rs2339607,A,C,0.495739,251947,ADD,0.104160,0.012292,71.7215,16.6059,NaN
7607,5,73071641,rs2339607,A,C,0.495739,251947,ADD-INT_2DF,NaN,NaN,72.2322,15.6850,NaN
18270,14,52514912,rs1566129,C,T,0.415846,249601,ADD,0.099741,0.012462,63.7366,14.8470,NaN
7605,5,73071641,rs2339607,A,C,0.495739,251947,ADD-INT_SNP,0.109863,0.013872,62.7241,14.6238,NaN
18275,14,52514912,rs1566129,C,T,0.415846,249601,ADD-INT_2DF,NaN,NaN,64.6065,14.0291,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23612,21,38371211,rs77908725,C,T,0.020034,252052,ADD-INT_rs11579015^2,0.026542,0.040684,NaN,NaN,NaN
23725,22,18519000,rs9604826,T,C,0.048114,251902,ADD-INT_rs11579015,0.030866,0.054537,NaN,NaN,NaN
23726,22,18519000,rs9604826,T,C,0.048114,251902,ADD-INT_rs11579015^2,0.028407,0.040663,NaN,NaN,NaN
24067,22,46842637,rs16994776,G,C,0.099627,251915,ADD-INT_rs11579015,0.002872,0.054820,NaN,NaN,NaN
24068,22,46842637,rs16994776,G,C,0.099627,251915,ADD-INT_rs11579015^2,0.025943,0.040680,NaN,NaN,NaN

In [15]:
df[df["ID"]=="rs12604008"]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
20376,17,908763,rs12604008,C,T,0.247183,251941,ADD,-0.039279,0.014353,7.524710,2.215680,NaN
20377,17,908763,rs12604008,C,T,0.247183,251941,ADD-INT_rs11579015,0.038213,0.055967,0.466199,0.305622,NaN
20378,17,908763,rs12604008,C,T,0.247183,251941,ADD-INT_rs11579015^2,0.025617,0.040448,0.401125,0.278594,NaN
20379,17,908763,rs12604008,C,T,0.247183,251941,ADD-INT_SNP,-0.031261,0.016164,3.740600,1.274860,NaN
20380,17,908763,rs12604008,C,T,0.247183,251941,ADD-INT_SNPxrs11579015,-0.034361,0.030979,1.230210,0.572895,NaN
20381,17,908763,rs12604008,C,T,0.247183,251941,ADD-INT_2DF,NaN,NaN,8.779780,1.906500,NaN

In [16]:
df2 = pd.read_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs12604008_f3393.regenie.gz",compression = "gzip",header=0,sep=" ")
df2[df2["ID"]=="rs11579015"]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,1,1036959,rs11579015,T,C,0.113584,251941,ADD,0.051796,0.018989,7.36663,2.177540,NaN
1,1,1036959,rs11579015,T,C,0.113584,251941,ADD-INT_rs12604008,-0.066376,0.038443,2.98115,1.074480,NaN
2,1,1036959,rs11579015,T,C,0.113584,251941,ADD-INT_rs12604008^2,0.023961,0.023489,1.04060,0.511899,NaN
3,1,1036959,rs11579015,T,C,0.113584,251941,ADD-INT_SNP,0.068492,0.024103,8.07463,2.347860,NaN
4,1,1036959,rs11579015,T,C,0.113584,251941,ADD-INT_SNPxrs12604008,-0.034640,0.030923,1.25484,0.580655,NaN
5,1,1036959,rs11579015,T,C,0.113584,251941,ADD-INT_2DF,NaN,NaN,8.73119,1.895950,NaN

# Top k interaction term

In [5]:
import os
filelist0 = os.listdir("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache")
filelist = []
for file in filelist0:
    if file.endswith("regenie.gz"):
        filelist.append(os.path.join("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/", file))
len(filelist)

4020

In [6]:
filelist[0]

'/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.rs2210270_f3393.regenie.gz'

In [9]:
import pandas as pd
df = pd.read_csv(filelist[0],compression = "gzip",header=0,sep=" ")
df[df["TEST"].str.startswith("ADD-INT_SNPx")]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
4,1,1036959,rs11579015,T,C,0.113587,251670,ADD-INT_SNPxrs2210270,-0.030036,0.027618,1.182730,0.557833,NaN
10,1,1986754,rs3121828,G,T,0.059471,251837,ADD-INT_SNPxrs2210270,0.003832,0.037009,0.010722,0.037381,NaN
16,1,2824171,rs17384422,G,A,0.102739,251288,ADD-INT_SNPxrs2210270,0.018519,0.030579,0.366768,0.263786,NaN
22,1,2859724,rs2842909,C,T,0.172175,251361,ADD-INT_SNPxrs2210270,-0.017068,0.023548,0.525396,0.329245,NaN
28,1,2898199,rs112563471,C,T,0.060123,251741,ADD-INT_SNPxrs2210270,-0.001520,0.039118,0.001510,0.013676,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24088,22,48814168,rs75066394,T,C,0.011380,251899,ADD-INT_SNPxrs2210270,0.027520,0.089065,0.095472,0.120713,NaN
24094,22,49925268,rs17779492,G,A,0.225859,251378,ADD-INT_SNPxrs2210270,-0.015022,0.022118,0.461260,0.303612,NaN
24100,22,50002290,rs73177000,T,C,0.039725,251869,ADD-INT_SNPxrs2210270,0.039220,0.048163,0.663112,0.381467,NaN
24106,22,50087337,rs742271,C,T,0.152264,251530,ADD-INT_SNPxrs2210270,-0.006008,0.025190,0.056890,0.090722,NaN
24112,22,50988105,rs36062310,G,A,0.041921,251174,ADD-INT_SNPxrs2210270,-0.050852,0.043656,1.356850,0.612461,NaN

In [ ]:
interactionterm = pd.DataFrame(columns=df.columns)
for file in filelist:
    tmp = pd.read_csv(file,compression = "gzip",header=0,sep=" ")
    interactionterm=interactionterm.append(tmp[tmp["TEST"].str.startswith("ADD-INT_SNPx")],ignore_index=True)
interactionterm

In [ ]:
interactionterm.to_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/f3393.interactionterm.stat.regenie",sep="\t",index=False,compression = "gzip")

It takes too long time to combine and obtain all the interaction term. Try to obtain only top 100 interaction terms.

In [18]:
import pandas as pd
import os
filelist0 = os.listdir("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache")
filelist = []
for file in filelist0:
    if file.endswith("regenie.gz"):
        filelist.append(os.path.join("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/", file))
df = pd.read_csv(filelist[0],compression = "gzip",header=0,sep=" ")
topinteractionterm = pd.DataFrame(columns=df.columns)
k = 100
for file in filelist:
    tmp = pd.read_csv(file,compression = "gzip",header=0,sep=" ")
    tmp = pd.concat([tmp[tmp["TEST"].str.startswith("ADD-INT_SNPx")],topinteractionterm],axis=0,ignore_index=True)
    topinteractionterm = tmp.sort_values("LOG10P",ascending=False).head(k)
topinteractionterm.to_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/f3393.interactionterm.top"+str(k)+".stat.regenie",sep="\t",index=False)

In [19]:
topinteractionterm

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
4019,15,86427477,rs118075935,A,G,0.016384,252380,ADD-INT_SNPxrs80301506,0.681047,0.123630,27.3716,6.77501,NaN
4020,12,117083692,rs80301506,C,T,0.054291,252380,ADD-INT_SNPxrs118075935,0.683772,0.124463,27.2663,6.75135,NaN
4021,18,37924645,rs9963583,A,C,0.261262,252352,ADD-INT_SNPxrs73198507,-0.387840,0.076940,26.7125,6.62692,NaN
4022,13,27057849,rs77634820,G,T,0.052354,252282,ADD-INT_SNPxrs72973206,0.236979,0.045413,26.5787,6.59685,NaN
4023,13,67207672,rs73198507,C,T,0.017442,252352,ADD-INT_SNPxrs9963583,-0.385337,0.076817,26.4936,6.57771,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,5,133240998,rs903078,G,A,0.226217,250675,ADD-INT_SNPxrs117214357,-0.383851,0.086424,20.9994,5.33778,NaN
4115,3,136502568,rs900816,G,T,0.160639,251020,ADD-INT_SNPxrs12366324,-0.124969,0.027424,20.9908,5.33584,NaN
4116,4,182147412,rs114103393,G,T,0.017561,252410,ADD-INT_SNPxrs72741316,0.709965,0.147228,20.9844,5.33439,NaN
4117,5,51419442,rs116778981,A,G,0.040877,250899,ADD-INT_SNPxrs2292354,-0.250715,0.055686,20.9744,5.33213,NaN
4118,2,190569908,rs116660656,G,A,0.022608,252235,ADD-INT_SNPxrs75239224,0.537895,0.112292,20.9677,5.33060,NaN

# Top 10 SNP p value (non-interaction & interaction)

### f3393

In [14]:
import pandas as pd
topsnp = pd.read_csv("~/UKBiobank/results/REGENIE_results/results_array_data/2021-10-27_f3393_array/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie.top_snps.tsv",header=0,sep="\t")
topsnp

    CHR        POS REF ALT            SNP      BETA        SE             P
0     2   54699021   T   C      rs9677271  0.094694  0.016237  7.203939e-09
1     2   54748355   A   G     rs36018286  0.099191  0.015544  2.434109e-10
2     2   54858664   C   T      rs2229503  0.105431  0.015405  1.141038e-11
3     2   54862003   G   A      rs2941580 -0.085819  0.012292  2.879387e-12
4     3  121660664   A   C      rs4285028  0.081399  0.013913  5.858683e-09
5     3  181991271   T   C      rs2129825 -0.096233  0.016501  4.209592e-09
6     5   72861967   A   G      rs1421654 -0.074534  0.012512  2.456292e-09
7     5   72927292   C   T     rs11739158 -0.090728  0.012497  3.627438e-13
8     5   73069581   G   A      rs4704097 -0.088359  0.012391  9.607270e-13
9     5   73071641   A   C      rs2339607  0.105350  0.012286  1.040639e-17
10    5   73072354   T   C      rs7714670  0.102877  0.012294  6.446144e-17
11    5   73077688   T   C     rs10805883  0.104719  0.012298  1.745018e-17
12    5   73101091   C   A      rs1486857 -0.086882  0.012277  1.484226e-12
13    5   73196609   A   G      rs3828583  0.073861  0.012419  2.906029e-09
14    5   73202480   C   T      rs2931425  0.074278  0.012332  1.771495e-09
15    6   32441100   C   A      rs9269081 -0.089441  0.014016  1.432716e-10
16    6   32628189   A   G      rs9273489  0.105225  0.018178  9.915851e-09
17    6   32628389   A   C      rs9273502  0.088701  0.015821  2.597287e-08
18    6   32631570   G   A  Affx-28498032  0.087713  0.015812  3.631366e-08
19    6   32665728   A   G      rs9275312  0.099714  0.017920  3.512206e-08
20    6  133789728   G   A      rs9493627  0.098606  0.013008  4.543599e-14
21    6  133796586   C   T      rs3777866  0.096644  0.013010  1.424951e-13
22    7  138473180   C   A      rs6467804  0.067811  0.012299  3.592775e-08
23    7  138489883   A   G      rs2034507 -0.071210  0.012549  1.330056e-08
24   14   52474721   C   T      rs1476284  0.075582  0.012900  5.227451e-09
25   14   52483455   A   G     rs71422049  0.082192  0.014617  2.267096e-08
26   14   52503396   A   G      rs2749875  0.084836  0.012924  6.204403e-11
27   14   52514912   C   T      rs1566129  0.099663  0.012459  1.471635e-15
28   14   52515760   C   T      rs2516585  0.095966  0.012284  6.151769e-15
29   15   89223152   T   G      rs4340308 -0.100298  0.016956  2.474742e-09
30   15   89245239   A   C      rs4932194 -0.073255  0.012937  1.380194e-08
31   15   89253550   T   C      rs4293349 -0.107408  0.016004  1.345550e-11
32   17   43723189   G   A  Affx-13924026  0.080903  0.014552  3.235415e-08
33   17   43823229   T   C  Affx-13925660  0.080815  0.014550  3.333650e-08
34   17   44118848   G   A  Affx-13930511  0.080393  0.014656  4.898127e-08
35   22   38121152   C   A      rs9610841  0.082569  0.012299  2.014188e-11

In [12]:
filelist = []   
for snp in topsnp["SNP"].to_list():
    file = '/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.'+str(snp)+'_f3393.regenie.gz'
    filelist.append(file)

Find out that not all top SNPs are in the index SNP list

In [16]:
indexsnp = pd.read_csv("~/project/guangyou/interaction/bfile/f3393/f3393.snplist",header=None)[0].to_list()
topsnplist = topsnp["SNP"].to_list()
[x for x in topsnplist if x in indexsnp]

['rs2941580',
 'rs4285028',
 'rs2129825',
 'rs2339607',
 'rs9269081',
 'rs9493627',
 'rs6467804',
 'rs2034507',
 'rs1566129',
 'rs4293349',
 'rs9610841']

In [41]:
filelist = []   
for snp in [x for x in topsnplist if x in indexsnp]:
    file = '/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/100521_UKBB_Hearing_aid_f3393_expandedwhite_15601cases_237318ctrl_500k_PC1_PC2_f3393.regenie_pred.'+str(snp)+'_f3393.regenie.gz'
    filelist.append(file)

df = pd.read_csv(filelist[0],compression = "gzip",header=0,sep=" ")
df[df["TEST"].str.startswith("ADD-INT_SNPx")]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
4,1,1036959,rs11579015,T,C,0.113604,252288,ADD-INT_SNPxrs2941580,0.013802,0.026904,0.263187,0.216140,NaN
10,1,1986754,rs3121828,G,T,0.059457,252451,ADD-INT_SNPxrs2941580,-0.026280,0.035774,0.539668,0.334822,NaN
16,1,2824171,rs17384422,G,A,0.102687,251901,ADD-INT_SNPxrs2941580,-0.001078,0.029406,0.001344,0.012892,NaN
22,1,2859724,rs2842909,C,T,0.172226,251974,ADD-INT_SNPxrs2941580,0.018856,0.022636,0.693885,0.392710,NaN
28,1,2898199,rs112563471,C,T,0.060151,252356,ADD-INT_SNPxrs2941580,0.017899,0.037251,0.230876,0.200057,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24088,22,48814168,rs75066394,T,C,0.011376,252516,ADD-INT_SNPxrs2941580,0.083298,0.088665,0.882610,0.459060,NaN
24094,22,49925268,rs17779492,G,A,0.225844,251992,ADD-INT_SNPxrs2941580,-0.004664,0.021048,0.049097,0.083734,NaN
24100,22,50002290,rs73177000,T,C,0.039731,252485,ADD-INT_SNPxrs2941580,-0.014004,0.045471,0.094847,0.120271,NaN
24106,22,50087337,rs742271,C,T,0.152307,252148,ADD-INT_SNPxrs2941580,0.004252,0.024135,0.031038,0.065423,NaN
24112,22,50988105,rs36062310,G,A,0.041923,251737,ADD-INT_SNPxrs2941580,0.069984,0.042331,2.733260,1.007540,NaN

In [42]:
interactionterm = pd.DataFrame(columns=df.columns)
for file in filelist:
    tmp = pd.read_csv(file,compression = "gzip",header=0,sep=" ")
    interactionterm=interactionterm.append(tmp[tmp["TEST"].str.startswith("ADD-INT_SNP")],ignore_index=True)
interactionterm

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,1,1036959,rs11579015,T,C,0.113604,252288,ADD-INT_SNP,0.040431,0.031145,1.685150,0.711657,NaN
1,1,1036959,rs11579015,T,C,0.113604,252288,ADD-INT_SNPxrs2941580,0.013802,0.026904,0.263187,0.216140,NaN
2,1,1986754,rs3121828,G,T,0.059457,252451,ADD-INT_SNP,0.095243,0.040704,5.475100,1.714690,NaN
3,1,1986754,rs3121828,G,T,0.059457,252451,ADD-INT_SNPxrs2941580,-0.026280,0.035774,0.539668,0.334822,NaN
4,1,2824171,rs17384422,G,A,0.102687,251901,ADD-INT_SNP,-0.059040,0.033706,3.068270,1.097810,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88413,22,50002290,rs73177000,T,C,0.039722,252166,ADD-INT_SNPxrs9610841,-0.003604,0.046072,0.006121,0.027964,NaN
88414,22,50087337,rs742271,C,T,0.152264,251829,ADD-INT_SNP,0.044692,0.028217,2.508660,0.946069,NaN
88415,22,50087337,rs742271,C,T,0.152264,251829,ADD-INT_SNPxrs9610841,0.000078,0.023856,0.000011,0.001134,NaN
88416,22,50988105,rs36062310,G,A,0.041925,251413,ADD-INT_SNP,0.097708,0.050968,3.675090,1.257820,NaN
88417,22,50988105,rs36062310,G,A,0.041925,251413,ADD-INT_SNPxrs9610841,0.018233,0.042688,0.182430,0.174383,NaN

In [43]:
interactionterm.sort_values("LOG10P",ascending=False).iloc[:10,:]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
74878,5,73071641,rs2339607,A,C,0.495684,251604,ADD-INT_SNP,0.115392,0.014731,61.3601,14.32300,NaN
22166,14,52514912,rs1566129,C,T,0.415886,247485,ADD-INT_SNP,0.106886,0.014789,52.2348,12.30760,NaN
34688,5,73071641,rs2339607,A,C,0.495741,252041,ADD-INT_SNP,0.114206,0.015984,51.0487,12.04530,NaN
14128,14,52514912,rs1566129,C,T,0.415888,249597,ADD-INT_SNP,0.111434,0.016166,47.5163,11.26320,NaN
18610,5,73071641,rs2339607,A,C,0.495640,249787,ADD-INT_SNP,0.096480,0.014586,43.7543,10.42910,NaN
10572,5,73071641,rs2339607,A,C,0.495684,251948,ADD-INT_SNP,0.105487,0.015976,43.5950,10.39380,NaN
75558,6,133789728,rs9493627,G,A,0.318428,251126,ADD-INT_SNP,0.102593,0.015602,43.2369,10.31430,NaN
78434,14,52514912,rs1566129,C,T,0.415837,249249,ADD-INT_SNP,0.095883,0.014883,41.5066,9.93005,NaN
19074,6,32441100,rs9269081,C,A,0.269245,249986,ADD-INT_SNP,-0.105528,0.016747,39.7039,9.52939,NaN
75342,6,32441100,rs9269081,C,A,0.269277,251798,ADD-INT_SNP,-0.106194,0.016912,39.4281,9.46806,NaN

In [44]:
interactionterm.to_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/f3393.topindexsnp.stat.regenie",sep="\t",index=False,compression = "gzip")

In [34]:
import os
filelist0 = os.listdir("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache")
filelist = []
for file in filelist0:
    if file.endswith("regenie.gz"):
        filelist.append(os.path.join("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/", file))
        
snplist = [x for x in topsnplist if x in indexsnp]
interactionsnp = pd.DataFrame(columns=df.columns)
for file in filelist:
    df = pd.read_csv(file,compression = "gzip",header=0,sep=" ")
    interactionsnp=interactionsnp.append(df[(df["ID"].isin(snplist) & df["TEST"].str.startswith("ADD-INT_SNP"))],ignore_index=True)
interactionsnp

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,2,54862003,rs2941580,G,A,0.470530,251903,ADD-INT_SNP,-0.084584,0.018031,22.005400,5.565610,NaN
1,2,54862003,rs2941580,G,A,0.470530,251903,ADD-INT_SNPxrs2210270,-0.001017,0.018223,0.003115,0.019773,NaN
2,3,121660664,rs4285028,A,C,0.253542,251672,ADD-INT_SNP,0.047366,0.020473,5.326940,1.677820,NaN
3,3,121660664,rs4285028,A,C,0.253542,251672,ADD-INT_SNPxrs2210270,0.048012,0.020531,5.460460,1.711050,NaN
4,3,181991271,rs2129825,T,C,0.177984,249519,ADD-INT_SNP,-0.098143,0.024209,16.435500,4.298140,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88413,14,52514912,rs1566129,C,T,0.415843,249498,ADD-INT_SNPxrs114105600,-0.024774,0.070453,0.123643,0.139592,NaN
88414,15,89253550,rs4293349,T,C,0.191750,251599,ADD-INT_SNP,-0.108885,0.016330,44.462000,10.586100,NaN
88415,15,89253550,rs4293349,T,C,0.191750,251599,ADD-INT_SNPxrs114105600,0.023030,0.086348,0.071138,0.102545,NaN
88416,22,38121152,rs9610841,C,A,0.455691,251866,ADD-INT_SNP,0.081995,0.012494,43.068900,10.277000,NaN
88417,22,38121152,rs9610841,C,A,0.455691,251866,ADD-INT_SNPxrs114105600,0.015795,0.070061,0.050825,0.085321,NaN

In [35]:
interactionsnp.to_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/f3393.topindexsnp.interactionsnp.stat.regenie",sep="\t",index=False,compression = "gzip")

In [38]:
interactionsnp[interactionsnp["TEST"]=="ADD-INT_SNP"]

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,N,TEST,BETA,SE,CHISQ,LOG10P,EXTRA
0,2,54862003,rs2941580,G,A,0.470530,251903,ADD-INT_SNP,-0.084584,0.018031,22.00540,5.56561,NaN
2,3,121660664,rs4285028,A,C,0.253542,251672,ADD-INT_SNP,0.047366,0.020473,5.32694,1.67782,NaN
4,3,181991271,rs2129825,T,C,0.177984,249519,ADD-INT_SNP,-0.098143,0.024209,16.43550,4.29814,NaN
6,5,73071641,rs2339607,A,C,0.495763,251565,ADD-INT_SNP,0.111996,0.018073,38.40080,9.23950,NaN
8,6,32441100,rs9269081,C,A,0.269312,251767,ADD-INT_SNP,-0.072639,0.020523,12.52740,3.39682,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88408,7,138473180,rs6467804,C,A,0.473997,251719,ADD-INT_SNP,0.070097,0.012454,31.68140,7.74077,NaN
88410,7,138489883,rs2034507,A,G,0.410938,251464,ADD-INT_SNP,-0.070093,0.012791,30.02800,7.37074,NaN
88412,14,52514912,rs1566129,C,T,0.415843,249498,ADD-INT_SNP,0.100039,0.012623,62.80950,14.64260,NaN
88414,15,89253550,rs4293349,T,C,0.191750,251599,ADD-INT_SNP,-0.108885,0.016330,44.46200,10.58610,NaN
88416,22,38121152,rs9610841,C,A,0.455691,251866,ADD-INT_SNP,0.081995,0.012494,43.06890,10.27700,NaN

In [4]:
import pandas as pd
interactionterm = pd.read_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/f3393.topindexsnp.stat.regenie",sep="\t",compression = "gzip",header=0)
interactionsnp  = pd.read_csv("/home/gl2776/project/guangyou/interaction/newv/112421_f3393/cache/f3393.topindexsnp.interactionsnp.stat.regenie",sep="\t",compression = "gzip",header=0)

In [5]:
n = interactionterm.shape[0]
snp1 = []
snp2 = []
beta1 = []
beta12 = []
p1 = []
p12 = []
for i in range(int(n/2)):
    snp1tmp = interactionterm.iloc[(2*i),2]
    snp2tmp = interactionterm.iloc[(2*i+1),7].split("x")[1]
    beta1tmp = interactionterm.iloc[(2*i),8]
    beta12tmp = interactionterm.iloc[(2*i+1),8]
    p1tmp = 10**(-interactionterm.iloc[(2*i),11])
    p12tmp = 10**(-interactionterm.iloc[(2*i+1),11])
    snp1.append(snp1tmp)
    snp2.append(snp2tmp)
    beta1.append(beta1tmp)
    beta12.append(beta12tmp)
    p1.append(p1tmp)
    p12.append(p12tmp)
interstat1 = pd.DataFrame({"snp1":snp1,"snp2":snp2,"beta1":beta1,"p1":p1,"beta12":beta12,"p12":p12})
interstat1

              snp1       snp2     beta1        p1    beta12       p12
0       rs11579015  rs2941580  0.040431  0.194242  0.013802  0.607939
1        rs3121828  rs2941580  0.095243  0.019289 -0.026280  0.462571
2       rs17384422  rs2941580 -0.059040  0.079834 -0.001078  0.970751
3        rs2842909  rs2941580  0.041078  0.117354  0.018856  0.404846
4      rs112563471  rs2941580 -0.098113  0.022932  0.017899  0.630875
...            ...        ...       ...       ...       ...       ...
44204   rs75066394  rs9610841 -0.071319  0.474557 -0.100086  0.255874
44205   rs17779492  rs9610841 -0.040096  0.103095 -0.010359  0.620440
44206   rs73177000  rs9610841 -0.087802  0.104225 -0.003604  0.937641
44207     rs742271  rs9610841  0.044692  0.113222  0.000078  0.997391
44208   rs36062310  rs9610841  0.097708  0.055231  0.018233  0.669294

[44209 rows x 6 columns]

In [6]:
n = interactionsnp.shape[0]
snp1 = []
snp2 = []
beta1 = []
beta12 = []
p1 = []
p12 = []
for i in range(int(n/2)):
    snp1tmp = interactionsnp.iloc[(2*i),2]
    snp2tmp = interactionsnp.iloc[(2*i+1),7].split("x")[1]
    beta1tmp = interactionsnp.iloc[(2*i),8]
    beta12tmp = interactionsnp.iloc[(2*i+1),8]
    p1tmp = 10**(-interactionsnp.iloc[(2*i),11])
    p12tmp = 10**(-interactionsnp.iloc[(2*i+1),11])
    snp1.append(snp1tmp)
    snp2.append(snp2tmp)
    beta1.append(beta1tmp)
    beta12.append(beta12tmp)
    p1.append(p1tmp)
    p12.append(p12tmp)
interstat2 = pd.DataFrame({"snp1":snp1,"snp2":snp2,"beta1":beta1,"p1":p1,"beta12":beta12,"p12":p12})
interstat2

            snp1         snp2     beta1            p1    beta12       p12
0      rs2941580    rs2210270 -0.084584  2.718880e-06 -0.001017  0.955492
1      rs4285028    rs2210270  0.047366  2.099810e-02  0.048012  0.019451
2      rs2129825    rs2210270 -0.098143  5.033383e-05  0.002163  0.929123
3      rs2339607    rs2210270  0.111996  5.761028e-10 -0.008101  0.657861
4      rs9269081    rs2210270 -0.072639  4.010329e-04 -0.023786  0.254908
...          ...          ...       ...           ...       ...       ...
44204  rs6467804  rs114105600  0.070097  1.816477e-08 -0.078258  0.263242
44205  rs2034507  rs114105600 -0.070093  4.258533e-08 -0.018921  0.789794
44206  rs1566129  rs114105600  0.100039  2.277194e-15 -0.024774  0.725117
44207  rs4293349  rs114105600 -0.108885  2.593582e-11  0.023030  0.789687
44208  rs9610841  rs114105600  0.081995  5.284453e-11  0.015795  0.821635

[44209 rows x 6 columns]

In [7]:
interstat1["tmp2"]=interstat1.snp2.str.cat(others=[interstat1.snp1], sep=':')
interstat2["tmp2"]=interstat2.snp1.str.cat(others=[interstat2.snp2], sep=':')
interstat3 = interstat1.merge(interstat2, how='inner', on=["tmp2","tmp2"],suffixes=["_1","_2"]).drop(["tmp2"],axis=1)
interstat3

,snp1_1,snp2_1,beta1_1,p1_1,beta12_1,p12_1,snp1_2,snp2_2,beta1_2,p1_2,beta12_2,p12_2
0,rs11579015,rs2941580,0.040431,0.194242,0.013802,0.607939,rs2941580,rs11579015,-0.089206,1.369872e-10,0.013923,0.606267
1,rs3121828,rs2941580,0.095243,0.019289,-0.026280,0.462571,rs2941580,rs3121828,-0.082230,3.856293e-10,-0.027013,0.452593
2,rs17384422,rs2941580,-0.059040,0.079834,-0.001078,0.970751,rs2941580,rs17384422,-0.085470,3.341797e-10,-0.001224,0.966872
3,rs2842909,rs2941580,0.041078,0.117354,0.018856,0.404846,rs2941580,rs2842909,-0.092890,2.823774e-10,0.019018,0.404100
4,rs112563471,rs2941580,-0.098113,0.022932,0.017899,0.630875,rs2941580,rs112563471,-0.087648,1.851399e-11,0.018509,0.623940
...,...,...,...,...,...,...,...,...,...,...,...,...
44204,rs75066394,rs9610841,-0.071319,0.474557,-0.100086,0.255874,rs9610841,rs75066394,0.085237,6.798295e-12,-0.100468,0.255847
44205,rs17779492,rs9610841,-0.040096,0.103095,-0.010359,0.620440,rs9610841,rs17779492,0.086767,1.911305e-08,-0.010501,0.617260
44206,rs73177000,rs9610841,-0.087802,0.104225,-0.003604,0.937641,rs9610841,rs73177000,0.082845,8.592113e-11,-0.003468,0.940248
44207,rs742271,rs9610841,0.044692,0.113222,0.000078,0.997391,rs9610841,rs742271,0.082929,9.982975e-09,-0.000087,0.997079
44208,rs36062310,rs9610841,0.097708,0.055231,0.018233,0.669294,rs9610841,rs36062310,0.081066,2.965787e-10,0.014835,0.726785

In [8]:
interstat3 = interstat3.drop(["snp1_2","snp2_2"],axis=1)
interstat3 = interstat3.rename(columns={"snp1_1":"snp1","snp2_1":"snp2","p1_1":"p1","beta1_1":"beta1","p1_2":"p2","beta1_2":"beta2"})
interstat3

,snp1,snp2,beta1,p1,beta12_1,p12_1,beta2,p2,beta12_2,p12_2
0,rs11579015,rs2941580,0.040431,0.194242,0.013802,0.607939,-0.089206,1.369872e-10,0.013923,0.606267
1,rs3121828,rs2941580,0.095243,0.019289,-0.026280,0.462571,-0.082230,3.856293e-10,-0.027013,0.452593
2,rs17384422,rs2941580,-0.059040,0.079834,-0.001078,0.970751,-0.085470,3.341797e-10,-0.001224,0.966872
3,rs2842909,rs2941580,0.041078,0.117354,0.018856,0.404846,-0.092890,2.823774e-10,0.019018,0.404100
4,rs112563471,rs2941580,-0.098113,0.022932,0.017899,0.630875,-0.087648,1.851399e-11,0.018509,0.623940
...,...,...,...,...,...,...,...,...,...,...
44204,rs75066394,rs9610841,-0.071319,0.474557,-0.100086,0.255874,0.085237,6.798295e-12,-0.100468,0.255847
44205,rs17779492,rs9610841,-0.040096,0.103095,-0.010359,0.620440,0.086767,1.911305e-08,-0.010501,0.617260
44206,rs73177000,rs9610841,-0.087802,0.104225,-0.003604,0.937641,0.082845,8.592113e-11,-0.003468,0.940248
44207,rs742271,rs9610841,0.044692,0.113222,0.000078,0.997391,0.082929,9.982975e-09,-0.000087,0.997079
44208,rs36062310,rs9610841,0.097708,0.055231,0.018233,0.669294,0.081066,2.965787e-10,0.014835,0.726785

In [11]:
interstat3.head(10)

,snp1,snp2,beta1,p1,beta12_1,p12_1,beta2,p2,beta12_2,p12_2
0,rs11579015,rs2941580,0.040431,0.194242,0.013802,0.607939,-0.089206,1.369872e-10,0.013923,0.606267
1,rs3121828,rs2941580,0.095243,0.019289,-0.026280,0.462571,-0.082230,3.856293e-10,-0.027013,0.452593
2,rs17384422,rs2941580,-0.059040,0.079834,-0.001078,0.970751,-0.085470,3.341797e-10,-0.001224,0.966872
3,rs2842909,rs2941580,0.041078,0.117354,0.018856,0.404846,-0.092890,2.823774e-10,0.019018,0.404100
4,rs112563471,rs2941580,-0.098113,0.022932,0.017899,0.630875,-0.087648,1.851399e-11,0.018509,0.623940
5,rs12757342,rs2941580,-0.140819,0.001822,0.062992,0.100098,-0.092182,1.522299e-12,0.063901,0.100027
6,rs2483275,rs2941580,0.058070,0.007952,-0.022585,0.234510,-0.071725,1.842383e-05,-0.022712,0.236713
7,rs77144466,rs2941580,0.266427,0.002280,-0.105975,0.175186,-0.082271,4.338104e-11,-0.107236,0.173871
8,rs10915421,rs2941580,0.059289,0.015401,-0.006095,0.774289,-0.082591,6.258929e-08,-0.006208,0.771683
9,rs10915522,rs2941580,-0.093582,0.026068,0.012833,0.727396,-0.086916,3.198895e-11,0.014670,0.688568

In [10]:
interstat3.sort_values("p12_1").head(10)

,snp1,snp2,beta1,p1,beta12_1,p12_1,beta2,p2,beta12_2,p12_2
1471,rs73726522,rs2941580,-0.069867,0.090613,0.144428,0.000036,-0.104314,2.035635e-15,0.145802,0.000035
7150,rs74448035,rs4285028,-0.177141,0.000002,0.174660,0.000060,0.063032,1.872363e-05,0.184409,0.000034
35506,rs1550178,rs1566129,0.032914,0.239418,-0.101179,0.000070,0.127589,6.353309e-19,-0.101060,0.000069
8666,rs6754024,rs2129825,0.006401,0.749028,0.123637,0.000070,-0.137083,1.590377e-12,0.122033,0.000083
10300,rs2502763,rs2129825,-0.067520,0.000004,0.091431,0.000095,-0.187422,3.404866e-11,0.091809,0.000092
43496,rs13333359,rs9610841,0.042195,0.219409,-0.115602,0.000104,0.103888,1.597718e-14,-0.115983,0.000101
35760,rs12961865,rs1566129,0.030653,0.192840,-0.080171,0.000163,0.134480,6.394403e-18,-0.080053,0.000164
41332,rs76959641,rs9610841,-0.136243,0.000004,0.092696,0.000203,0.057823,4.797997e-05,0.094255,0.000173
4145,rs79860504,rs4285028,0.208298,0.000003,-0.204533,0.000229,0.094431,5.968978e-11,-0.211528,0.000178
28642,rs17007278,rs2034507,0.027477,0.346535,-0.101962,0.000272,-0.047519,7.098392e-04,-0.103349,0.000252

In [ ]:
interstat4 = interstat3.drop(["beta12_2","p12_2"],axis=1)
interstat4 = interstat4.rename(columns={"beta12_1":"beta12","p12_1":"p12","beta1_1":"beta1","p1_2":"p2","beta1_2":"beta2"})
interstat4

In [83]:
tmp = topsnp[topsnp["SNP"].isin([x for x in topsnplist if x in indexsnp])]
tmp = tmp.astype('string')
tmp["varID"]=tmp.CHR.str.cat(others=[tmp.POS, tmp.REF, tmp.ALT], sep=':')
tmp

,CHR,POS,REF,ALT,SNP,BETA,SE,P,varID
3,2,54862003,G,A,rs2941580,-0.0858187,0.0122921,2.87938673780798e-12,2:54862003:G:A
4,3,121660664,A,C,rs4285028,0.0813989,0.0139131,5.85868300057376e-09,3:121660664:A:C
5,3,181991271,T,C,rs2129825,-0.096233,0.0165014,4.2095919476605e-09,3:181991271:T:C
9,5,73071641,A,C,rs2339607,0.10535,0.0122859,1.0406387653975e-17,5:73071641:A:C
15,6,32441100,C,A,rs9269081,-0.0894405,0.0140157,1.43271563400106e-10,6:32441100:C:A
20,6,133789728,G,A,rs9493627,0.0986058,0.0130079,4.54359904929341e-14,6:133789728:G:A
22,7,138473180,C,A,rs6467804,0.0678112,0.0122991,3.59277483399824e-08,7:138473180:C:A
23,7,138489883,A,G,rs2034507,-0.0712102,0.0125487,1.33005622459162e-08,7:138489883:A:G
27,14,52514912,C,T,rs1566129,0.0996629,0.0124588,1.47163463356571e-15,14:52514912:C:T
31,15,89253550,T,C,rs4293349,-0.107408,0.016004,1.3455504939324298e-11,15:89253550:T:C
35,22,38121152,C,A,rs9610841,0.0825692,0.0122993,2.0141879803932e-11,22:38121152:C:A